#top .flex_column.av-js4oiffu-e884cce8bee0c6ff2fb4058a2330c99d{
margin-top:-2%;
margin-bottom:-2%;
}
.flex_column.av-js4oiffu-e884cce8bee0c6ff2fb4058a2330c99d{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-js4oiffu-e884cce8bee0c6ff2fb4058a2330c99d{
margin-top:-2%;
margin-bottom:-2%;
}

.avia-image-container.av-js4o8asj-5bfbd25e86e67f35ec3a8a1323525260 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-js4o8asj-5bfbd25e86e67f35ec3a8a1323525260 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-js4o8asj-5bfbd25e86e67f35ec3a8a1323525260 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-js4o8asj-13-cd88f889782b8f3307f4e2b21e64b35f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-js4o8asj-13-cd88f889782b8f3307f4e2b21e64b35f img.avia_image{
box-shadow:none;
}
.avia-image-container.av-js4o8asj-13-cd88f889782b8f3307f4e2b21e64b35f .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-jsg37u7k-1f1bfc82ffda7b1683dcd062b529d970{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-1f1bfc82ffda7b1683dcd062b529d970 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}

.flex_column.av-72uvqc-5de0df603f685349777d013db3842c93{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .avia-animated-number.av-jsg2n5aq-f90643c22bd13b5c38b47abbdf455fa3 .avia-animated-number-title{
color:#f2e38e;
}
#top .avia-animated-number.av-jsg2n5aq-f90643c22bd13b5c38b47abbdf455fa3 .avia-animated-number-content{
color:#f2e38e;
}

.flex_column.av-6k5fwk-34e9daab9c45e5c540f419f2fd5d5f7a{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .avia-animated-number.av-jsg2n5aq-9-c449a7fec452185c126f782a7eb089a5 .avia-animated-number-title{
color:#f2e38e;
}
#top .avia-animated-number.av-jsg2n5aq-9-c449a7fec452185c126f782a7eb089a5 .avia-animated-number-content{
color:#f2e38e;
}

.flex_column.av-3rb96c-497df3b1d2b34dc553fd163808460287{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .avia-animated-number.av-jsg2n5aq-8-18ca2da82331d5abfcbd96d91ec17f14 .avia-animated-number-title{
color:#f2e38e;
}
#top .avia-animated-number.av-jsg2n5aq-8-18ca2da82331d5abfcbd96d91ec17f14 .avia-animated-number-content{
color:#f2e38e;
}

.flex_column.av-2inj38-f759ea968dfdd500e0ef8ba5ae2749cc{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .avia-animated-number.av-jsg2n5aq-7-a421fdea51a42a7f87c4d6e458759fe9 .avia-animated-number-title{
color:#f2e38e;
}

#top .hr.av-vm2n26-11-27c17821aee9d8ed1a3507a1036ee965{
margin-top:-1%;
margin-bottom:-2%;
}
.hr.av-vm2n26-11-27c17821aee9d8ed1a3507a1036ee965 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-accordion.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d{
max-height:375px;
}
.avia-accordion.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d .aviaccordion-preview{
width:20.1%;
}
#top .avia-accordion.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d .aviaccordion-title{
font-size:20px;
}
.avia-accordion .aviaccordion-slide.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d__0{
left:0%;
}
.avia-accordion .aviaccordion-slide.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d__1{
left:20%;
}
.avia-accordion .aviaccordion-slide.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d__2{
left:40%;
}
.avia-accordion .aviaccordion-slide.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d__3{
left:60%;
}
.avia-accordion .aviaccordion-slide.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d__4{
left:80%;
}

.flex_cell.av-w81ypq-ec0db6750163e15518800a39325e6fc3{
vertical-align:middle;
padding:150px 0px 150px 150px;
background-color:#f8f8f8;
}

#top .flex_column.av-vzp8bq-e2777099cb6d3052873b302f07eb2145{
margin-top:-20%;
margin-bottom:-20%;
}
.flex_column.av-vzp8bq-e2777099cb6d3052873b302f07eb2145{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-vzp8bq-e2777099cb6d3052873b302f07eb2145{
margin-top:-20%;
margin-bottom:-20%;
}

#top .av-special-heading.av-bgcam-f88cea73815ba3e82ec50610e083965a{
padding-bottom:20px;
color:#000000;
font-size:40px;
}
body .av-special-heading.av-bgcam-f88cea73815ba3e82ec50610e083965a .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-bgcam-f88cea73815ba3e82ec50610e083965a .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-bgcam-f88cea73815ba3e82ec50610e083965a .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-bgcam-f88cea73815ba3e82ec50610e083965a .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-6-e3766d4595cc041d9ceda7b7081f6e91{
margin-top:-3%;
}
.hr.av-vm2n26-6-e3766d4595cc041d9ceda7b7081f6e91 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top #wrap_all .avia-button.av-u6kx9i-e00c1f386e65078df30ef6b7e86ca0e5{
background-color:#f1cb00;
border-color:#f1cb00;
color:#ffffff;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}

.flex_cell.av-u2q3ku-4c6420b953ba20c10ec55883965ac075{
vertical-align:top;
background-color:#f8f8f8;
}

.avia-image-container.av-js5u9vjq-133d0f0e8b482f71e44939d15bd88148 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-js5u9vjq-133d0f0e8b482f71e44939d15bd88148 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-js5u9vjq-133d0f0e8b482f71e44939d15bd88148 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-judvdbxw-3cd0e9e5ebeee2ee084f557ee6ad5a8d{
margin-bottom:-2%;
}

#top .av-special-heading.av-jv80rdyd-3065b2836ca0b597b52d7fe178da9c0a{
padding-bottom:0px;
color:#0a0a0a;
font-size:40px;
}
body .av-special-heading.av-jv80rdyd-3065b2836ca0b597b52d7fe178da9c0a .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-jv80rdyd-3065b2836ca0b597b52d7fe178da9c0a .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-jv80rdyd-3065b2836ca0b597b52d7fe178da9c0a .special-heading-inner-border{
border-color:#0a0a0a;
}
.av-special-heading.av-jv80rdyd-3065b2836ca0b597b52d7fe178da9c0a .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-5-22486ced98361294866b3a45225ac461{
margin-top:-1%;
margin-bottom:-1%;
}
.hr.av-vm2n26-5-22486ced98361294866b3a45225ac461 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .av-masonry.av-judv55n4-772a966c2f1209293cd26e51ff9d14a6{
background-color:#35383c;
}

.avia-section.av-tx7052-068f93168dc198d654856eeeac2a913a{
margin-bottom:-1%;
}

#top .av-special-heading.av-bictq-c3a3d0708ab7262c0bf20531308e1db3{
padding-bottom:0px;
color:#000000;
font-size:40px;
}
body .av-special-heading.av-bictq-c3a3d0708ab7262c0bf20531308e1db3 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-bictq-c3a3d0708ab7262c0bf20531308e1db3 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-bictq-c3a3d0708ab7262c0bf20531308e1db3 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-bictq-c3a3d0708ab7262c0bf20531308e1db3 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-4-a122421d4429e77e0b2ae85bb479941a{
margin-top:-3px;
}
.hr.av-vm2n26-4-a122421d4429e77e0b2ae85bb479941a .hr-inner{
width:100px;
border-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1vi8l2-14d817f2cd8424a9494ff81b9ec0bec2{
top:71.8%;
left:49.9%;
}
.av-hotspot-image-container .av-image-hotspot.av-1vi8l2-14d817f2cd8424a9494ff81b9ec0bec2 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1vi8l2-14d817f2cd8424a9494ff81b9ec0bec2 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-62aye-91df8d3d823c7e2beda39077c56d8992{
top:72.6%;
left:51.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-62aye-91df8d3d823c7e2beda39077c56d8992 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-62aye-91df8d3d823c7e2beda39077c56d8992 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1zbuae-93e67be5b678e07c8be3d1a8d4e20faf{
top:50%;
left:25%;
}
.av-hotspot-image-container .av-image-hotspot.av-1zbuae-93e67be5b678e07c8be3d1a8d4e20faf .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1zbuae-93e67be5b678e07c8be3d1a8d4e20faf .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1ci59q-c7a379a25b84b56cd593445d860d6a8d{
top:84.2%;
left:56.7%;
}
.av-hotspot-image-container .av-image-hotspot.av-1ci59q-c7a379a25b84b56cd593445d860d6a8d .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1ci59q-c7a379a25b84b56cd593445d860d6a8d .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1sqyie-6c110847f999dc40af0131ab8e8fc164{
top:61.6%;
left:34.3%;
}
.av-hotspot-image-container .av-image-hotspot.av-1sqyie-6c110847f999dc40af0131ab8e8fc164 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1sqyie-6c110847f999dc40af0131ab8e8fc164 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-12wzce-f5b1ddc857cd6d1759858f611d18da45{
top:91.1%;
left:78.4%;
}
.av-hotspot-image-container .av-image-hotspot.av-12wzce-f5b1ddc857cd6d1759858f611d18da45 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-12wzce-f5b1ddc857cd6d1759858f611d18da45 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1dll0u-c1d8e22e06c383ea5c9547640c6c3569{
top:30.3%;
left:15.1%;
}
.av-hotspot-image-container .av-image-hotspot.av-1dll0u-c1d8e22e06c383ea5c9547640c6c3569 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1dll0u-c1d8e22e06c383ea5c9547640c6c3569 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-17ijzq-0e5c55e7342ab50c816eee14dae78dbe{
top:36.6%;
left:18.4%;
}
.av-hotspot-image-container .av-image-hotspot.av-17ijzq-0e5c55e7342ab50c816eee14dae78dbe .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-17ijzq-0e5c55e7342ab50c816eee14dae78dbe .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-13fl3i-364a6e83a5663078408b028985514b62{
top:35.8%;
left:22.5%;
}
.av-hotspot-image-container .av-image-hotspot.av-13fl3i-364a6e83a5663078408b028985514b62 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-13fl3i-364a6e83a5663078408b028985514b62 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-ao4v2-ff3054c7160cb57396989fd4aa2734a7{
top:32.7%;
left:18.4%;
}
.av-hotspot-image-container .av-image-hotspot.av-ao4v2-ff3054c7160cb57396989fd4aa2734a7 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-ao4v2-ff3054c7160cb57396989fd4aa2734a7 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-3dyla-67a7297c8d69391fd92713ce81678a84{
top:32.7%;
left:20.1%;
}
.av-hotspot-image-container .av-image-hotspot.av-3dyla-67a7297c8d69391fd92713ce81678a84 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-3dyla-67a7297c8d69391fd92713ce81678a84 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-rwb92-70e52f099fd5e64ae3a954c911e47bf9{
top:38.1%;
left:19.3%;
}
.av-hotspot-image-container .av-image-hotspot.av-rwb92-70e52f099fd5e64ae3a954c911e47bf9 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-rwb92-70e52f099fd5e64ae3a954c911e47bf9 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-st97i-804910775fea421159bc2c80417a121c{
top:41.3%;
left:21.8%;
}
.av-hotspot-image-container .av-image-hotspot.av-st97i-804910775fea421159bc2c80417a121c .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-st97i-804910775fea421159bc2c80417a121c .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-b4xsu-354a23c8b2ac0db3bb9edb3eb86c5d70{
top:11%;
left:48.5%;
}
.av-hotspot-image-container .av-image-hotspot.av-b4xsu-354a23c8b2ac0db3bb9edb3eb86c5d70 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-b4xsu-354a23c8b2ac0db3bb9edb3eb86c5d70 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1zakri-473b320e5cd76d198bc8f1ded82a9254{
top:12.4%;
left:52.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-1zakri-473b320e5cd76d198bc8f1ded82a9254 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1zakri-473b320e5cd76d198bc8f1ded82a9254 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-saz12-b504f7fe4b0d047fff879253ec040d96{
top:21%;
left:45.2%;
}
.av-hotspot-image-container .av-image-hotspot.av-saz12-b504f7fe4b0d047fff879253ec040d96 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-saz12-b504f7fe4b0d047fff879253ec040d96 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-maa3q-034ba4e0e94a1493280e54f221496ff5{
top:15.6%;
left:46.8%;
}
.av-hotspot-image-container .av-image-hotspot.av-maa3q-034ba4e0e94a1493280e54f221496ff5 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-maa3q-034ba4e0e94a1493280e54f221496ff5 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-g5a32-bf267e51d47cde07e4d895e1239f825e{
top:7.9%;
left:43.5%;
}
.av-hotspot-image-container .av-image-hotspot.av-g5a32-bf267e51d47cde07e4d895e1239f825e .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-g5a32-bf267e51d47cde07e4d895e1239f825e .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-194tzi-a879ebca90de6d8216eb184a2e75014e{
top:12.4%;
left:41.8%;
}
.av-hotspot-image-container .av-image-hotspot.av-194tzi-a879ebca90de6d8216eb184a2e75014e .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-194tzi-a879ebca90de6d8216eb184a2e75014e .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-114txi-d1301d1b6478415d0dd5e9ebd4334fea{
top:17%;
left:42.7%;
}
.av-hotspot-image-container .av-image-hotspot.av-114txi-d1301d1b6478415d0dd5e9ebd4334fea .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-114txi-d1301d1b6478415d0dd5e9ebd4334fea .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-zityu-22d807a82b7d9195a18188503f8f3d93{
top:22.5%;
left:48.5%;
}
.av-hotspot-image-container .av-image-hotspot.av-zityu-22d807a82b7d9195a18188503f8f3d93 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-zityu-22d807a82b7d9195a18188503f8f3d93 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-q530m-1ccd898fe179125a091f6deccd717550{
top:19.5%;
left:50.9%;
}
.av-hotspot-image-container .av-image-hotspot.av-q530m-1ccd898fe179125a091f6deccd717550 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-q530m-1ccd898fe179125a091f6deccd717550 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-jvo1q-26ac9443471aabe6172320b0a4b0bff7{
top:14.8%;
left:59.2%;
}
.av-hotspot-image-container .av-image-hotspot.av-jvo1q-26ac9443471aabe6172320b0a4b0bff7 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-jvo1q-26ac9443471aabe6172320b0a4b0bff7 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-iy4hi-1dae0b5792c3b0b04a07c287ce860304{
top:4.7%;
left:51.7%;
}
.av-hotspot-image-container .av-image-hotspot.av-iy4hi-1dae0b5792c3b0b04a07c287ce860304 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-iy4hi-1dae0b5792c3b0b04a07c287ce860304 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-bhgf2-b9114492ba00aabb2a87adc2d6ddca6a{
top:7.2%;
left:48.3%;
}
.av-hotspot-image-container .av-image-hotspot.av-bhgf2-b9114492ba00aabb2a87adc2d6ddca6a .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-bhgf2-b9114492ba00aabb2a87adc2d6ddca6a .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1ap14u-337a522f804ca4bd63903cf829f576ad{
top:33.7%;
left:84.2%;
}
.av-hotspot-image-container .av-image-hotspot.av-1ap14u-337a522f804ca4bd63903cf829f576ad .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1ap14u-337a522f804ca4bd63903cf829f576ad .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-11dlim-37d3faffc67f7d583a4a45f192dc8c9f{
top:22%;
left:70%;
}
.av-hotspot-image-container .av-image-hotspot.av-11dlim-37d3faffc67f7d583a4a45f192dc8c9f .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-11dlim-37d3faffc67f7d583a4a45f192dc8c9f .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-p0kom-e6a46e1d80b89a1e5b5e8a7867bffbb9{
top:29%;
left:81.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-p0kom-e6a46e1d80b89a1e5b5e8a7867bffbb9 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-p0kom-e6a46e1d80b89a1e5b5e8a7867bffbb9 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-gr3ku-6f197edd1c0f042c892fe0c4fe7983e8{
top:24.3%;
left:86.7%;
}
.av-hotspot-image-container .av-image-hotspot.av-gr3ku-6f197edd1c0f042c892fe0c4fe7983e8 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-gr3ku-6f197edd1c0f042c892fe0c4fe7983e8 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-7f1l2-75be83aee56da96c77cb9657a9d37948{
top:25.1%;
left:83.3%;
}
.av-hotspot-image-container .av-image-hotspot.av-7f1l2-75be83aee56da96c77cb9657a9d37948 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-7f1l2-75be83aee56da96c77cb9657a9d37948 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-769zy-2970c317c5abe600394df25e59fdf1f5{
top:32.1%;
left:4.1%;
}
.av-hotspot-image-container .av-image-hotspot.av-769zy-2970c317c5abe600394df25e59fdf1f5 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-769zy-2970c317c5abe600394df25e59fdf1f5 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

#top .av-masonry.av-2qjey6-bf92042545a5f768b096e25240310b52{
background-color:#35383c;
}

#top .av-special-heading.av-jv80s5in-60ddc2f6971a55e8dbacd7bb7ace4d19{
padding-bottom:0px;
color:#161616;
font-size:40px;
}
body .av-special-heading.av-jv80s5in-60ddc2f6971a55e8dbacd7bb7ace4d19 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-jv80s5in-60ddc2f6971a55e8dbacd7bb7ace4d19 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-jv80s5in-60ddc2f6971a55e8dbacd7bb7ace4d19 .special-heading-inner-border{
border-color:#161616;
}
.av-special-heading.av-jv80s5in-60ddc2f6971a55e8dbacd7bb7ace4d19 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-3-e7bdda9745e04427d4eca027dc94bb55{
margin-top:-3px;
margin-bottom:-1%;
}
.hr.av-vm2n26-3-e7bdda9745e04427d4eca027dc94bb55 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-1i8bo0-9678c4bdf0d4585e3fae4cd1308333b8{
background-repeat:no-repeat;
background-image:url(../images/Solvis_firma.jpg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-1i8bo0-9678c4bdf0d4585e3fae4cd1308333b8 .av-section-color-overlay{
opacity:0.9;
background-color:#35383c;
}

#top .av-special-heading.av-2d3fi-f3e2a414665efd89961b4f7be1596f94{
padding-bottom:20px;
color:#ffffff;
font-size:30px;
}
body .av-special-heading.av-2d3fi-f3e2a414665efd89961b4f7be1596f94 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2d3fi-f3e2a414665efd89961b4f7be1596f94 .av-special-heading-tag{
font-size:30px;
}
.av-special-heading.av-2d3fi-f3e2a414665efd89961b4f7be1596f94 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-2d3fi-f3e2a414665efd89961b4f7be1596f94 .av-subheading{
font-size:15px;
}

.flex_column.av-14zphk-6533a24c4dec214f0277f6294301fbce{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-14zphk-2-49b7a40ad95b2e3577ddb6fb600bfdf8{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-14zphk-1-afdf3156c2d9a8368c35710d9e07ff8b{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
.avia-image-container.av-js4o8asj-5bfbd25e86e67f35ec3a8a1323525260 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-js4o8asj-13-cd88f889782b8f3307f4e2b21e64b35f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-js5u9vjq-133d0f0e8b482f71e44939d15bd88148 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
.avia-image-container.av-js4o8asj-5bfbd25e86e67f35ec3a8a1323525260 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-js4o8asj-13-cd88f889782b8f3307f4e2b21e64b35f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-js5u9vjq-133d0f0e8b482f71e44939d15bd88148 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (max-width: 479px){ 
.avia-image-container.av-js4o8asj-5bfbd25e86e67f35ec3a8a1323525260 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-js4o8asj-13-cd88f889782b8f3307f4e2b21e64b35f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-js5u9vjq-133d0f0e8b482f71e44939d15bd88148 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}
