.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-extra-border-element .av-extra-border-inner{
background-color:#35383c;
}

#top .av-special-heading.av-jv6pmgh5-dfa6bfb0e6f4defe9975d631651a45d0{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jv6pmgh5-dfa6bfb0e6f4defe9975d631651a45d0 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jv6pmgh5-dfa6bfb0e6f4defe9975d631651a45d0 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jv6pmgh5-dfa6bfb0e6f4defe9975d631651a45d0 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-jsg37u7k-33-550beb9ffd6fa1527e111ee9c02e8690{
background-color:#ffffff;
background-image:unset;
}
.avia-section.av-jsg37u7k-33-550beb9ffd6fa1527e111ee9c02e8690 .av-section-color-overlay{
opacity:0.5;
background-color:#ffffff;
}

#top .hr.hr-invisible.av-lj8kz2m1-1d8c6510906c3533b091b9c0a7db20ff{
height:30px;
}

.flex_column.av-8rw963-d16e10223a751e49500398fec6d72d16{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-257d17-11d67fcb81ddd7d507bfdd4d0265e493 img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-9rfesn-8e98c6336b8fc7a8921825f72ccfa8a5{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-9rfesn-8e98c6336b8fc7a8921825f72ccfa8a5 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-9rfesn-8e98c6336b8fc7a8921825f72ccfa8a5 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-9rfesn-8e98c6336b8fc7a8921825f72ccfa8a5 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-32-3c97d7ddfb03a2df04765afe04f5822f{
margin-top:-1%;
}
.hr.av-vm2n26-32-3c97d7ddfb03a2df04765afe04f5822f .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-a38fpz-716cbf07335470a1a9a0a483973b0ba1{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-lj8kvjrc-222084976b05285b0283c326cb5563d0 img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-lj8kvtp1-af73b399e21d4ce40e2dad70227c6b8d{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-lj8kvtp1-af73b399e21d4ce40e2dad70227c6b8d .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-lj8kvtp1-af73b399e21d4ce40e2dad70227c6b8d .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-lj8kvtp1-af73b399e21d4ce40e2dad70227c6b8d .av-subheading{
font-size:15px;
}

#top .hr.av-8x65tz-6dea36bc94e8980b550bbdc57eec5cf4{
margin-top:-1%;
}
.hr.av-8x65tz-6dea36bc94e8980b550bbdc57eec5cf4 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-gl86f-cc8c78bab27cc44bb33ffceb30ac18e3{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-kwahtbei-59d6c15cf86f786e2c0470d3d5ee29c5 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-kwahtbei-59d6c15cf86f786e2c0470d3d5ee29c5 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-kwahtbei-59d6c15cf86f786e2c0470d3d5ee29c5 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-kwahu63u-a7a9da58f75ca1318eafbf758b752b3d{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-kwahu63u-a7a9da58f75ca1318eafbf758b752b3d .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kwahu63u-a7a9da58f75ca1318eafbf758b752b3d .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-kwahu63u-a7a9da58f75ca1318eafbf758b752b3d .av-subheading{
font-size:15px;
}

#top .hr.av-1xy3ev-b77970bdaf8a37539b18e1436fe83996{
margin-top:-1%;
}
.hr.av-1xy3ev-b77970bdaf8a37539b18e1436fe83996 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-761cuf-1ba8e21fe23e4598adf9350debfaeb33{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-kwahsmv7-81edd7dfbbe3f06c49d13e98a844764f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-kwahsmv7-81edd7dfbbe3f06c49d13e98a844764f img.avia_image{
box-shadow:none;
}
.avia-image-container.av-kwahsmv7-81edd7dfbbe3f06c49d13e98a844764f .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-kwahsyd7-201fa927efc0b25f4f754bb9ea84505b{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-kwahsyd7-201fa927efc0b25f4f754bb9ea84505b .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kwahsyd7-201fa927efc0b25f4f754bb9ea84505b .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-kwahsyd7-201fa927efc0b25f4f754bb9ea84505b .av-subheading{
font-size:15px;
}

#top .hr.av-22og7-7a57f3bccdad96377a87af34fa5d2b29{
margin-top:-1%;
}
.hr.av-22og7-7a57f3bccdad96377a87af34fa5d2b29 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-15jpuv-37d68b78fe172b4ed17e26926a7417c7{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-kwahlyjo-a70846c0944b73ee4a7aceb8f7669509 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-kwahlyjo-a70846c0944b73ee4a7aceb8f7669509 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-kwahlyjo-a70846c0944b73ee4a7aceb8f7669509 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-kwahm7jo-ac7cd4bd840ca534777988bf6a0e4f22{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-kwahm7jo-ac7cd4bd840ca534777988bf6a0e4f22 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kwahm7jo-ac7cd4bd840ca534777988bf6a0e4f22 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-kwahm7jo-ac7cd4bd840ca534777988bf6a0e4f22 .av-subheading{
font-size:15px;
}

#top .hr.av-9h8omv-6cad9c944ee733389000422a42ab9757{
margin-top:-1%;
}
.hr.av-9h8omv-6cad9c944ee733389000422a42ab9757 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-e4d9uv-28ed93355d1439fd84716e06cfdc70cc{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-kwahkoro-4f651e606d93f2ff242cb5fc2dd6acf3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-kwahkoro-4f651e606d93f2ff242cb5fc2dd6acf3 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-kwahkoro-4f651e606d93f2ff242cb5fc2dd6acf3 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-kwahl1yk-b30f928d3cb0c9c6e226a9d1ad2a5280{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-kwahl1yk-b30f928d3cb0c9c6e226a9d1ad2a5280 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kwahl1yk-b30f928d3cb0c9c6e226a9d1ad2a5280 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-kwahl1yk-b30f928d3cb0c9c6e226a9d1ad2a5280 .av-subheading{
font-size:15px;
}

#top .hr.av-ccgthz-c531fc6576a522cf7415abeca4736735{
margin-top:-1%;
}
.hr.av-ccgthz-c531fc6576a522cf7415abeca4736735 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-2p5t8b-d5fce17d4906b15504e774125fe4d9e8{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-90fd3c5d98f3ca2b1e893fa8df8daa3d .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-90fd3c5d98f3ca2b1e893fa8df8daa3d img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-90fd3c5d98f3ca2b1e893fa8df8daa3d .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-22zumf-24e5d7d74447f6434fca049a988ef122{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-22zumf-24e5d7d74447f6434fca049a988ef122 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-22zumf-24e5d7d74447f6434fca049a988ef122 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-22zumf-24e5d7d74447f6434fca049a988ef122 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-28-d1d79ed305c4794492400474d7be83c3{
margin-top:-1%;
}
.hr.av-vm2n26-28-d1d79ed305c4794492400474d7be83c3 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-3rnwx7-1de7cc18b5ce07e3b777658a86e25cf2{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-26-f60e52a2750aba526023cd81efe45f1f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-26-f60e52a2750aba526023cd81efe45f1f img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-26-f60e52a2750aba526023cd81efe45f1f .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-g55h3-34852c6a99c1404543fe1b12098e0449{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-g55h3-34852c6a99c1404543fe1b12098e0449 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-g55h3-34852c6a99c1404543fe1b12098e0449 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-g55h3-34852c6a99c1404543fe1b12098e0449 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-25-7d5f52f19b73efaf628e4ded08c3b6dc{
margin-top:-1%;
}
.hr.av-vm2n26-25-7d5f52f19b73efaf628e4ded08c3b6dc .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-6ayb3v-e6638bb089d4cc7f5362b0b5fb897fb1{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-23-05861ffa0d6a1fb23b10ac214acca24c .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-23-05861ffa0d6a1fb23b10ac214acca24c img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-23-05861ffa0d6a1fb23b10ac214acca24c .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-5e3eh3-603c7d8518d312f55a8eee990a3c0fec{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-5e3eh3-603c7d8518d312f55a8eee990a3c0fec .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-5e3eh3-603c7d8518d312f55a8eee990a3c0fec .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-5e3eh3-603c7d8518d312f55a8eee990a3c0fec .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-22-4ca98bbe84733b5fa74ae7ce03e80db8{
margin-top:-1%;
}
.hr.av-vm2n26-22-4ca98bbe84733b5fa74ae7ce03e80db8 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-78b0ez-146fda8d6c5099551253f1faac332f26{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-20-ee49dbbb250948737e1ae02e763980ab .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-20-ee49dbbb250948737e1ae02e763980ab img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-20-ee49dbbb250948737e1ae02e763980ab .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-6wws53-87a9bd195bd562453f49529af9cf47b0{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-6wws53-87a9bd195bd562453f49529af9cf47b0 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-6wws53-87a9bd195bd562453f49529af9cf47b0 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-6wws53-87a9bd195bd562453f49529af9cf47b0 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-19-6be920381821f6237bb91bf6d6f992c3{
margin-top:-1%;
}
.hr.av-vm2n26-19-6be920381821f6237bb91bf6d6f992c3 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-7xb0cn-34728607a8fb24e4ba4fd30a2ac02463{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-69fg1j-2f99eb98505dbc182012bcec6bf3f323 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-69fg1j-2f99eb98505dbc182012bcec6bf3f323 img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-4hfcif-96232e66c76628996e3468c74f829b1e{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-4hfcif-96232e66c76628996e3468c74f829b1e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-4hfcif-96232e66c76628996e3468c74f829b1e .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-4hfcif-96232e66c76628996e3468c74f829b1e .av-subheading{
font-size:15px;
}

#top .hr.av-b494n-a9f65ddb1d71571d3d9b599fd6b1202f{
margin-top:-1%;
}
.hr.av-b494n-a9f65ddb1d71571d3d9b599fd6b1202f .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-jsg37u7k-31-f7adfbd506489eddcfda985af4ff4175{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-31-f7adfbd506489eddcfda985af4ff4175 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}
.avia-section.av-jsg37u7k-31-f7adfbd506489eddcfda985af4ff4175 .av-extra-border-element .av-extra-border-inner{
background-color:#35383c;
}

#top .av-special-heading.av-jv6pm87z-ae9da75d4bf553904c08c7f0bc5cc7d3{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jv6pm87z-ae9da75d4bf553904c08c7f0bc5cc7d3 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jv6pm87z-ae9da75d4bf553904c08c7f0bc5cc7d3 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jv6pm87z-ae9da75d4bf553904c08c7f0bc5cc7d3 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-16-7be9a4c3af031f80e0c59b9c9ee69cf9{
margin-top:-1%;
}
.hr.av-vm2n26-16-7be9a4c3af031f80e0c59b9c9ee69cf9 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-jsg37u7k-15-c282a01ab44b1901bda3d6e31e1bb4ce{
background-color:#ffffff;
background-image:unset;
}
.avia-section.av-jsg37u7k-15-c282a01ab44b1901bda3d6e31e1bb4ce .av-section-color-overlay{
opacity:0.5;
background-color:#ffffff;
}

.flex_column.av-8rw963-30-194cee6b5c86cb8860bbcf3c06451e30{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-257d17-29-f2a285f8c2678f433ce8f29c4d03477e .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-29-f2a285f8c2678f433ce8f29c4d03477e img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-grhww7-c84d874e31e5dd6436ebf3a4f0dd5774{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-grhww7-c84d874e31e5dd6436ebf3a4f0dd5774 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-grhww7-c84d874e31e5dd6436ebf3a4f0dd5774 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-grhww7-c84d874e31e5dd6436ebf3a4f0dd5774 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-14-c8f74798a3fff4d98ded843b69ccfa3e{
margin-top:-1%;
}
.hr.av-vm2n26-14-c8f74798a3fff4d98ded843b69ccfa3e .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-78b0ez-18-2a5556157ca4500f904a4e6fcc6d73cb{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-17-6c6b19b08f707d08ebbf0bec041f0736 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-17-6c6b19b08f707d08ebbf0bec041f0736 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-17-6c6b19b08f707d08ebbf0bec041f0736 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-gdvauv-00dbe873088e07bb0fbc6e514c7d5454{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-gdvauv-00dbe873088e07bb0fbc6e514c7d5454 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-gdvauv-00dbe873088e07bb0fbc6e514c7d5454 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-gdvauv-00dbe873088e07bb0fbc6e514c7d5454 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-13-b04a7092597f2224346bba28eb60de28{
margin-top:-1%;
}
.hr.av-vm2n26-13-b04a7092597f2224346bba28eb60de28 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-6ayb3v-21-92f7a6fba2da51dfca9b8238ebd3d738{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-12-e8167355058198b2a4fa43287b0d1bc3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-12-e8167355058198b2a4fa43287b0d1bc3 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-12-e8167355058198b2a4fa43287b0d1bc3 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-dewzqv-48dae249ba8bfbb0aec6f0a3861d0efb{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-dewzqv-48dae249ba8bfbb0aec6f0a3861d0efb .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-dewzqv-48dae249ba8bfbb0aec6f0a3861d0efb .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-dewzqv-48dae249ba8bfbb0aec6f0a3861d0efb .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-11-022fda642d720d7a1e20501e75578768{
margin-top:-1%;
}
.hr.av-vm2n26-11-022fda642d720d7a1e20501e75578768 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-3rnwx7-24-02e706dc1748ee29ee3b74fb0842ce5b{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-10-3b68acbab31677d9a0e3a635a073f930 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-10-3b68acbab31677d9a0e3a635a073f930 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-10-3b68acbab31677d9a0e3a635a073f930 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-cs2l9j-01fbfbae31f9f56d3bacaac18e5f6168{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-cs2l9j-01fbfbae31f9f56d3bacaac18e5f6168 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-cs2l9j-01fbfbae31f9f56d3bacaac18e5f6168 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-cs2l9j-01fbfbae31f9f56d3bacaac18e5f6168 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-9-84340b0b6ab8338dab61db130d8155fd{
margin-top:-1%;
}
.hr.av-vm2n26-9-84340b0b6ab8338dab61db130d8155fd .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-2p5t8b-27-2fa6c9d9d7ddcc4f1396d7adc909fb1c{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-8-938d0a1234e0a691a3ce9f2dc23e8b11 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-8-938d0a1234e0a691a3ce9f2dc23e8b11 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-8-938d0a1234e0a691a3ce9f2dc23e8b11 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-azmf13-429d7aa5dc6b1ab498c6e71c72dec9a4{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-azmf13-429d7aa5dc6b1ab498c6e71c72dec9a4 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-azmf13-429d7aa5dc6b1ab498c6e71c72dec9a4 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-azmf13-429d7aa5dc6b1ab498c6e71c72dec9a4 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-7-ea0c126d8ade69d0c5a818a40312a0b9{
margin-top:-1%;
}
.hr.av-vm2n26-7-ea0c126d8ade69d0c5a818a40312a0b9 .hr-inner{
width:100px;
border-color:#f1cb00;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
.avia-image-container.av-kwahtbei-59d6c15cf86f786e2c0470d3d5ee29c5 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwahsmv7-81edd7dfbbe3f06c49d13e98a844764f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwahlyjo-a70846c0944b73ee4a7aceb8f7669509 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwahkoro-4f651e606d93f2ff242cb5fc2dd6acf3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-90fd3c5d98f3ca2b1e893fa8df8daa3d .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-26-f60e52a2750aba526023cd81efe45f1f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-23-05861ffa0d6a1fb23b10ac214acca24c .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-20-ee49dbbb250948737e1ae02e763980ab .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-69fg1j-2f99eb98505dbc182012bcec6bf3f323 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-29-f2a285f8c2678f433ce8f29c4d03477e .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-17-6c6b19b08f707d08ebbf0bec041f0736 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-12-e8167355058198b2a4fa43287b0d1bc3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-10-3b68acbab31677d9a0e3a635a073f930 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-8-938d0a1234e0a691a3ce9f2dc23e8b11 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
.avia-image-container.av-kwahtbei-59d6c15cf86f786e2c0470d3d5ee29c5 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwahsmv7-81edd7dfbbe3f06c49d13e98a844764f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwahlyjo-a70846c0944b73ee4a7aceb8f7669509 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwahkoro-4f651e606d93f2ff242cb5fc2dd6acf3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-90fd3c5d98f3ca2b1e893fa8df8daa3d .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-26-f60e52a2750aba526023cd81efe45f1f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-23-05861ffa0d6a1fb23b10ac214acca24c .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-20-ee49dbbb250948737e1ae02e763980ab .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-69fg1j-2f99eb98505dbc182012bcec6bf3f323 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-29-f2a285f8c2678f433ce8f29c4d03477e .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-17-6c6b19b08f707d08ebbf0bec041f0736 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-12-e8167355058198b2a4fa43287b0d1bc3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-10-3b68acbab31677d9a0e3a635a073f930 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-8-938d0a1234e0a691a3ce9f2dc23e8b11 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (max-width: 479px){ 
.avia-image-container.av-kwahtbei-59d6c15cf86f786e2c0470d3d5ee29c5 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwahsmv7-81edd7dfbbe3f06c49d13e98a844764f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwahlyjo-a70846c0944b73ee4a7aceb8f7669509 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwahkoro-4f651e606d93f2ff242cb5fc2dd6acf3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-90fd3c5d98f3ca2b1e893fa8df8daa3d .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-26-f60e52a2750aba526023cd81efe45f1f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-23-05861ffa0d6a1fb23b10ac214acca24c .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-20-ee49dbbb250948737e1ae02e763980ab .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-69fg1j-2f99eb98505dbc182012bcec6bf3f323 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-29-f2a285f8c2678f433ce8f29c4d03477e .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-17-6c6b19b08f707d08ebbf0bec041f0736 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-12-e8167355058198b2a4fa43287b0d1bc3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-10-3b68acbab31677d9a0e3a635a073f930 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-8-938d0a1234e0a691a3ce9f2dc23e8b11 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}
