.avia-section.av-ob09pr-dc0cc2ed6e4a16c8d7a332bff9e4c7b5{
background-repeat:no-repeat;
background-image:url(../images/Background-3.jpg);
background-position:50% 0%;
background-attachment:scroll;
}
.avia-section.av-ob09pr-dc0cc2ed6e4a16c8d7a332bff9e4c7b5 .av-section-color-overlay{
opacity:0.6;
}

.flex_column.av-1etn7v-dc1150c112994f18e8419ce7ddcf0700{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.av-hotspot-image-container .av-image-hotspot.av-cs1zig-72899d9b91265519cc9d05c3ea5ccf59{
top:92.8%;
left:61.1%;
}
.av-hotspot-image-container .av-image-hotspot.av-cs1zig-72899d9b91265519cc9d05c3ea5ccf59 .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-cs1zig-72899d9b91265519cc9d05c3ea5ccf59 .av-image-hotspot-pulse{
background-color:#35383c;
}

.av-hotspot-image-container .av-image-hotspot.av-aeqct4-fe2439dcc0c6bf390e2ada67462804f2{
top:80.2%;
left:64.8%;
}
.av-hotspot-image-container .av-image-hotspot.av-aeqct4-fe2439dcc0c6bf390e2ada67462804f2 .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-aeqct4-fe2439dcc0c6bf390e2ada67462804f2 .av-image-hotspot-pulse{
background-color:#35383c;
}

.av-hotspot-image-container .av-image-hotspot.av-9uvjs8-3f11b2c38bd4b32306cfcb74d0d72e3c{
top:65.7%;
left:70.3%;
}
.av-hotspot-image-container .av-image-hotspot.av-9uvjs8-3f11b2c38bd4b32306cfcb74d0d72e3c .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-9uvjs8-3f11b2c38bd4b32306cfcb74d0d72e3c .av-image-hotspot-pulse{
background-color:#35383c;
}

.av-hotspot-image-container .av-image-hotspot.av-7fcefc-2517417f75b8b8181c13244b5051d846{
top:53.2%;
left:77.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-7fcefc-2517417f75b8b8181c13244b5051d846 .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-7fcefc-2517417f75b8b8181c13244b5051d846 .av-image-hotspot-pulse{
background-color:#35383c;
}

.av-hotspot-image-container .av-image-hotspot.av-ixhzc-970e9ffdb92fcbc00c9b62a05573fe44{
top:40.6%;
left:81.4%;
}
.av-hotspot-image-container .av-image-hotspot.av-ixhzc-970e9ffdb92fcbc00c9b62a05573fe44 .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-ixhzc-970e9ffdb92fcbc00c9b62a05573fe44 .av-image-hotspot-pulse{
background-color:#35383c;
}

.av-hotspot-image-container .av-image-hotspot.av-3lk9m0-9f4d02c646b39d374e8256a090eb8f93{
top:28.1%;
left:88.7%;
}
.av-hotspot-image-container .av-image-hotspot.av-3lk9m0-9f4d02c646b39d374e8256a090eb8f93 .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-3lk9m0-9f4d02c646b39d374e8256a090eb8f93 .av-image-hotspot-pulse{
background-color:#35383c;
}

.av-hotspot-image-container .av-image-hotspot.av-20fieg-40c722e3067367a0b63dfc341d266021{
top:12.4%;
left:74%;
}
.av-hotspot-image-container .av-image-hotspot.av-20fieg-40c722e3067367a0b63dfc341d266021 .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-20fieg-40c722e3067367a0b63dfc341d266021 .av-image-hotspot-pulse{
background-color:#35383c;
}

.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-extra-border-element .av-extra-border-inner{
background-color:#35383c;
}

.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-extra-border-element .av-extra-border-inner{
background-color:#35383c;
}

.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-extra-border-element .av-extra-border-inner{
background-color:#35383c;
}

.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-extra-border-element .av-extra-border-inner{
background-color:#35383c;
}

#top .av-special-heading.av-jv6pfrsb-34d710a5f1aa1a9a0eec4a8463bc3aeb{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jv6pfrsb-34d710a5f1aa1a9a0eec4a8463bc3aeb .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jv6pfrsb-34d710a5f1aa1a9a0eec4a8463bc3aeb .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jv6pfrsb-34d710a5f1aa1a9a0eec4a8463bc3aeb .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-jsg37u7k-10f42ff937c885d10fe128cc7f32476d{
background-color:#ffffff;
background-image:unset;
}
.avia-section.av-jsg37u7k-10f42ff937c885d10fe128cc7f32476d .av-section-color-overlay{
opacity:0.5;
background-color:#ffffff;
}

#top .hr.hr-invisible.av-jtioq6zb-e22597dd1f58c77ec26cd15160c8a4fb{
height:50px;
}

.flex_column.av-8rw963-d16e10223a751e49500398fec6d72d16{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-257d17-e4eb5d758f2703de9e1e4f9e03c41872 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-e4eb5d758f2703de9e1e4f9e03c41872 img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-6jba2w-970dfb9ef9fa07ee37747ec9c1a0a049{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-6jba2w-970dfb9ef9fa07ee37747ec9c1a0a049 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-6jba2w-970dfb9ef9fa07ee37747ec9c1a0a049 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-6jba2w-970dfb9ef9fa07ee37747ec9c1a0a049 .av-subheading{
font-size:15px;
}

.flex_column.av-78b0ez-146fda8d6c5099551253f1faac332f26{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-f1ab90132bc3e89623003194f7fc344a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-f1ab90132bc3e89623003194f7fc344a img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-f1ab90132bc3e89623003194f7fc344a .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-1epnc-622ffffa76515270cc89187ce5d2bc18{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-1epnc-622ffffa76515270cc89187ce5d2bc18 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1epnc-622ffffa76515270cc89187ce5d2bc18 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-1epnc-622ffffa76515270cc89187ce5d2bc18 .av-subheading{
font-size:15px;
}

.flex_column.av-6fk7bv-b865442d40bf70c0619aab8d05987612{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-b865442d40bf70c0619aab8d05987612{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-b865442d40bf70c0619aab8d05987612{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-b865442d40bf70c0619aab8d05987612{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-jv6pg5z7-a1053c60bb29f714529156913bdee9fb{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jv6pg5z7-a1053c60bb29f714529156913bdee9fb .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jv6pg5z7-a1053c60bb29f714529156913bdee9fb .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jv6pg5z7-a1053c60bb29f714529156913bdee9fb .av-subheading{
font-size:15px;
}

.flex_column.av-3ru4or-26982c64648e1492490bdd78d7600c9f{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-jv6pgon6-43b16016f877a678bad481713a1c7075{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jv6pgon6-43b16016f877a678bad481713a1c7075 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jv6pgon6-43b16016f877a678bad481713a1c7075 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jv6pgon6-43b16016f877a678bad481713a1c7075 .av-subheading{
font-size:15px;
}

.avia-section.av-jsg37u7k-09970d9258440952bd76c86630aeef86 .av-section-color-overlay{
opacity:0.5;
}

.avia-section.av-jsg37u7k-09970d9258440952bd76c86630aeef86 .av-section-color-overlay{
opacity:0.5;
}

.avia-section.av-jsg37u7k-09970d9258440952bd76c86630aeef86 .av-section-color-overlay{
opacity:0.5;
}

.avia-image-container.av-257d17-fcd29b42cd982c0a5a3468b0c53f7c1e .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-fcd29b42cd982c0a5a3468b0c53f7c1e img.avia_image{
box-shadow:none;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-257d17-309cf0ba4e82a3d54718c84cd85e36b0 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-309cf0ba4e82a3d54718c84cd85e36b0 img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-jv6php5y-835b63fd8afc8af3ea7e71d1ddfd305c{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jv6php5y-835b63fd8afc8af3ea7e71d1ddfd305c .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jv6php5y-835b63fd8afc8af3ea7e71d1ddfd305c .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jv6php5y-835b63fd8afc8af3ea7e71d1ddfd305c .av-subheading{
font-size:15px;
}

.avia-image-container.av-257d17-c580035d780f86460b6f84a5fd4e3de0 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-c580035d780f86460b6f84a5fd4e3de0 img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-92bdb88726b58d58ea1e7a19bd272894 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-92bdb88726b58d58ea1e7a19bd272894 img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-1355ef43d833d476ef3525d8f6520668 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-1355ef43d833d476ef3525d8f6520668 img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-dcde595b6b396096bb05ff1d9d528e9a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-dcde595b6b396096bb05ff1d9d528e9a img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-b5ef8a48ed4e5dabde6e942aac2923f2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-b5ef8a48ed4e5dabde6e942aac2923f2 img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-jv6pi3f5-3162452a31074ff2f8b7704d549bb75d{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jv6pi3f5-3162452a31074ff2f8b7704d549bb75d .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jv6pi3f5-3162452a31074ff2f8b7704d549bb75d .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jv6pi3f5-3162452a31074ff2f8b7704d549bb75d .av-subheading{
font-size:15px;
}

.avia-image-container.av-257d17-d326731cca80515d44d08b3c5f7feba3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-d326731cca80515d44d08b3c5f7feba3 img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-a984965b3caa70c9060a03130afe84f2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-a984965b3caa70c9060a03130afe84f2 img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-677696882cd0868f355f67bed9b9e3fd .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-677696882cd0868f355f67bed9b9e3fd img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-beca4f1368cd93eee544b18c6ce54ec5 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-beca4f1368cd93eee544b18c6ce54ec5 img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-2ec963d14d213b91dde147f61af58881 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-2ec963d14d213b91dde147f61af58881 img.avia_image{
box-shadow:none;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
.avia-image-container.av-257d17-e4eb5d758f2703de9e1e4f9e03c41872 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-f1ab90132bc3e89623003194f7fc344a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-fcd29b42cd982c0a5a3468b0c53f7c1e .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-309cf0ba4e82a3d54718c84cd85e36b0 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-c580035d780f86460b6f84a5fd4e3de0 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-92bdb88726b58d58ea1e7a19bd272894 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-1355ef43d833d476ef3525d8f6520668 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-dcde595b6b396096bb05ff1d9d528e9a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-b5ef8a48ed4e5dabde6e942aac2923f2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-d326731cca80515d44d08b3c5f7feba3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-a984965b3caa70c9060a03130afe84f2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-677696882cd0868f355f67bed9b9e3fd .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-beca4f1368cd93eee544b18c6ce54ec5 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-2ec963d14d213b91dde147f61af58881 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
.avia-image-container.av-257d17-e4eb5d758f2703de9e1e4f9e03c41872 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-f1ab90132bc3e89623003194f7fc344a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-fcd29b42cd982c0a5a3468b0c53f7c1e .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-309cf0ba4e82a3d54718c84cd85e36b0 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-c580035d780f86460b6f84a5fd4e3de0 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-92bdb88726b58d58ea1e7a19bd272894 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-1355ef43d833d476ef3525d8f6520668 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-dcde595b6b396096bb05ff1d9d528e9a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-b5ef8a48ed4e5dabde6e942aac2923f2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-d326731cca80515d44d08b3c5f7feba3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-a984965b3caa70c9060a03130afe84f2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-677696882cd0868f355f67bed9b9e3fd .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-beca4f1368cd93eee544b18c6ce54ec5 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-2ec963d14d213b91dde147f61af58881 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (max-width: 479px){ 
.avia-image-container.av-257d17-e4eb5d758f2703de9e1e4f9e03c41872 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-f1ab90132bc3e89623003194f7fc344a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-fcd29b42cd982c0a5a3468b0c53f7c1e .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-309cf0ba4e82a3d54718c84cd85e36b0 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-c580035d780f86460b6f84a5fd4e3de0 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-92bdb88726b58d58ea1e7a19bd272894 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-1355ef43d833d476ef3525d8f6520668 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-dcde595b6b396096bb05ff1d9d528e9a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-b5ef8a48ed4e5dabde6e942aac2923f2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-d326731cca80515d44d08b3c5f7feba3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-a984965b3caa70c9060a03130afe84f2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-677696882cd0868f355f67bed9b9e3fd .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-beca4f1368cd93eee544b18c6ce54ec5 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-2ec963d14d213b91dde147f61af58881 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}
