.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-extra-border-element .av-extra-border-inner{
background-color:#35383c;
}

#top .av-special-heading.av-jv6pnt4k-092e1154a7e43f95758a537b9ccd0acf{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jv6pnt4k-092e1154a7e43f95758a537b9ccd0acf .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jv6pnt4k-092e1154a7e43f95758a537b9ccd0acf .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jv6pnt4k-092e1154a7e43f95758a537b9ccd0acf .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-jsg37u7k-33-550beb9ffd6fa1527e111ee9c02e8690{
background-color:#ffffff;
background-image:unset;
}
.avia-section.av-jsg37u7k-33-550beb9ffd6fa1527e111ee9c02e8690 .av-section-color-overlay{
opacity:0.5;
background-color:#ffffff;
}

#top .hr.hr-invisible.av-lj8laywv-f6415a91f5dddaf58b99f261dca3cc96{
height:30px;
}

.flex_column.av-8rw963-d16e10223a751e49500398fec6d72d16{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-257d17-60ccca1ac333b9224f31fb7e02a3cf03 img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-9qz5s4-ed5284293703f511d6f4042f51882b16{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-9qz5s4-ed5284293703f511d6f4042f51882b16 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-9qz5s4-ed5284293703f511d6f4042f51882b16 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-9qz5s4-ed5284293703f511d6f4042f51882b16 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-32-3c97d7ddfb03a2df04765afe04f5822f{
margin-top:-1%;
}
.hr.av-vm2n26-32-3c97d7ddfb03a2df04765afe04f5822f .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-bgfqk4-bdbf0f25fe0b8c444ebed18408058e72{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-lj8l7xxs-b34ff362764bb596da35c5f504e6220d img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-lj8l8ct5-ce533d76700917c79e90376503424df4{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-lj8l8ct5-ce533d76700917c79e90376503424df4 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-lj8l8ct5-ce533d76700917c79e90376503424df4 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-lj8l8ct5-ce533d76700917c79e90376503424df4 .av-subheading{
font-size:15px;
}

#top .hr.av-95dro4-5a19fc08c03e29dab717b4a435c7f8fc{
margin-top:-1%;
}
.hr.av-95dro4-5a19fc08c03e29dab717b4a435c7f8fc .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-4ssjus-b3d25ec63c1de092b5f1baba0dd46c89{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-kwaida3b-9e488a4002df29234d58a2678e831567 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-kwaida3b-9e488a4002df29234d58a2678e831567 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-kwaida3b-9e488a4002df29234d58a2678e831567 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-kwaidk1a-8b4e6f8a85977c5b0d12bcafbd7f4a88{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-kwaidk1a-8b4e6f8a85977c5b0d12bcafbd7f4a88 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kwaidk1a-8b4e6f8a85977c5b0d12bcafbd7f4a88 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-kwaidk1a-8b4e6f8a85977c5b0d12bcafbd7f4a88 .av-subheading{
font-size:15px;
}

#top .hr.av-2p7cw4-eebedf2df157c18865e9640f79e93b3c{
margin-top:-1%;
}
.hr.av-2p7cw4-eebedf2df157c18865e9640f79e93b3c .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-88spqc-f1ba828c824d8cde073ce9e8bf66cea4{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-kwaic40f-92b8153a7c038b135a3b1b4f2e59f210 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-kwaic40f-92b8153a7c038b135a3b1b4f2e59f210 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-kwaic40f-92b8153a7c038b135a3b1b4f2e59f210 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-kwaicgqg-3de91bec34f508ca724285446b519719{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-kwaicgqg-3de91bec34f508ca724285446b519719 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kwaicgqg-3de91bec34f508ca724285446b519719 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-kwaicgqg-3de91bec34f508ca724285446b519719 .av-subheading{
font-size:15px;
}

#top .hr.av-55hxwk-ef8748c1f23eb38380f0a0de71d0d489{
margin-top:-1%;
}
.hr.av-55hxwk-ef8748c1f23eb38380f0a0de71d0d489 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-a64fes-410bd82a660b20ed7ab066588a119080{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-kwai9t8w-d10a178797743428ddf248a26550b516 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-kwai9t8w-d10a178797743428ddf248a26550b516 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-kwai9t8w-d10a178797743428ddf248a26550b516 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-kwaia24g-fa6c51965604a19cd5b7742c8658e6a5{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-kwaia24g-fa6c51965604a19cd5b7742c8658e6a5 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kwaia24g-fa6c51965604a19cd5b7742c8658e6a5 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-kwaia24g-fa6c51965604a19cd5b7742c8658e6a5 .av-subheading{
font-size:15px;
}

#top .hr.av-96lhqs-0ce6c4509031b68006e5ef5b892c5924{
margin-top:-1%;
}
.hr.av-96lhqs-0ce6c4509031b68006e5ef5b892c5924 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-dltvhg-1098b843828a053b94913fe11f891e0e{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-kwai98hc-e4201735dc1f0037b931c027f0dfd8de .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-kwai98hc-e4201735dc1f0037b931c027f0dfd8de img.avia_image{
box-shadow:none;
}
.avia-image-container.av-kwai98hc-e4201735dc1f0037b931c027f0dfd8de .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-kwai9i5z-f6c24b1a0d86feeac269de791e982c9e{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-kwai9i5z-f6c24b1a0d86feeac269de791e982c9e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kwai9i5z-f6c24b1a0d86feeac269de791e982c9e .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-kwai9i5z-f6c24b1a0d86feeac269de791e982c9e .av-subheading{
font-size:15px;
}

#top .hr.av-d1lcms-8f6ac5b633bc33315ce9c740bff75d90{
margin-top:-1%;
}
.hr.av-d1lcms-8f6ac5b633bc33315ce9c740bff75d90 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-2p5t8b-d5fce17d4906b15504e774125fe4d9e8{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-4b9678ac15eefdbf1a5e2fb9658ee46a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-4b9678ac15eefdbf1a5e2fb9658ee46a img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-4b9678ac15eefdbf1a5e2fb9658ee46a .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-2isqf8-a1c32dc70833f53bdc28ac4633e74213{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-2isqf8-a1c32dc70833f53bdc28ac4633e74213 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2isqf8-a1c32dc70833f53bdc28ac4633e74213 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-2isqf8-a1c32dc70833f53bdc28ac4633e74213 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-28-d1d79ed305c4794492400474d7be83c3{
margin-top:-1%;
}
.hr.av-vm2n26-28-d1d79ed305c4794492400474d7be83c3 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-3rnwx7-1de7cc18b5ce07e3b777658a86e25cf2{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-26-ec871fa949fc8866920c7b88c27fa030 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-26-ec871fa949fc8866920c7b88c27fa030 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-26-ec871fa949fc8866920c7b88c27fa030 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-ddyck-aaf11518fbc5c5f6cc8f55250e7513b5{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-ddyck-aaf11518fbc5c5f6cc8f55250e7513b5 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-ddyck-aaf11518fbc5c5f6cc8f55250e7513b5 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-ddyck-aaf11518fbc5c5f6cc8f55250e7513b5 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-25-7d5f52f19b73efaf628e4ded08c3b6dc{
margin-top:-1%;
}
.hr.av-vm2n26-25-7d5f52f19b73efaf628e4ded08c3b6dc .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-6ayb3v-e6638bb089d4cc7f5362b0b5fb897fb1{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-23-d6f5a870d1e9d43f12b5b630bca93dce .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-23-d6f5a870d1e9d43f12b5b630bca93dce img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-23-d6f5a870d1e9d43f12b5b630bca93dce .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-5acero-104143efc7c6da044626c157dd487489{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-5acero-104143efc7c6da044626c157dd487489 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-5acero-104143efc7c6da044626c157dd487489 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-5acero-104143efc7c6da044626c157dd487489 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-22-4ca98bbe84733b5fa74ae7ce03e80db8{
margin-top:-1%;
}
.hr.av-vm2n26-22-4ca98bbe84733b5fa74ae7ce03e80db8 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-78b0ez-146fda8d6c5099551253f1faac332f26{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-20-3aa9042393b2f05cb10cc6e45137e9c1 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-20-3aa9042393b2f05cb10cc6e45137e9c1 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-20-3aa9042393b2f05cb10cc6e45137e9c1 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-84ggqc-a1bc1986ed407154b6ec4128d2171b4e{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-84ggqc-a1bc1986ed407154b6ec4128d2171b4e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-84ggqc-a1bc1986ed407154b6ec4128d2171b4e .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-84ggqc-a1bc1986ed407154b6ec4128d2171b4e .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-19-6be920381821f6237bb91bf6d6f992c3{
margin-top:-1%;
}
.hr.av-vm2n26-19-6be920381821f6237bb91bf6d6f992c3 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-735890-08ce8ebc47e29967e7d936bfb222ac2a{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-6abukk-37c87681e2d2d27bcc5ae6755d0e39b2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-6abukk-37c87681e2d2d27bcc5ae6755d0e39b2 img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-3yvipg-361b91ad6838ba6c9e588195d97574d9{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-3yvipg-361b91ad6838ba6c9e588195d97574d9 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3yvipg-361b91ad6838ba6c9e588195d97574d9 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-3yvipg-361b91ad6838ba6c9e588195d97574d9 .av-subheading{
font-size:15px;
}

#top .hr.av-38kdhg-a4f5532281b12d051201af08182bff77{
margin-top:-1%;
}
.hr.av-38kdhg-a4f5532281b12d051201af08182bff77 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-jsg37u7k-31-f7adfbd506489eddcfda985af4ff4175{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-31-f7adfbd506489eddcfda985af4ff4175 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}
.avia-section.av-jsg37u7k-31-f7adfbd506489eddcfda985af4ff4175 .av-extra-border-element .av-extra-border-inner{
background-color:#35383c;
}

#top .av-special-heading.av-jv6pnila-35f27efa52e1f1cbf1ebcf462252e374{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jv6pnila-35f27efa52e1f1cbf1ebcf462252e374 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jv6pnila-35f27efa52e1f1cbf1ebcf462252e374 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jv6pnila-35f27efa52e1f1cbf1ebcf462252e374 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-16-7be9a4c3af031f80e0c59b9c9ee69cf9{
margin-top:-1%;
}
.hr.av-vm2n26-16-7be9a4c3af031f80e0c59b9c9ee69cf9 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-jsg37u7k-15-c282a01ab44b1901bda3d6e31e1bb4ce{
background-color:#ffffff;
background-image:unset;
}
.avia-section.av-jsg37u7k-15-c282a01ab44b1901bda3d6e31e1bb4ce .av-section-color-overlay{
opacity:0.5;
background-color:#ffffff;
}

.flex_column.av-8rw963-30-194cee6b5c86cb8860bbcf3c06451e30{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-257d17-29-57cef3d1094245ec49896367dc35db07 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-29-57cef3d1094245ec49896367dc35db07 img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-i5r5h0-d7f5d4cc2706beeac43ecd69accc8448{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-i5r5h0-d7f5d4cc2706beeac43ecd69accc8448 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-i5r5h0-d7f5d4cc2706beeac43ecd69accc8448 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-i5r5h0-d7f5d4cc2706beeac43ecd69accc8448 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-14-c8f74798a3fff4d98ded843b69ccfa3e{
margin-top:-1%;
}
.hr.av-vm2n26-14-c8f74798a3fff4d98ded843b69ccfa3e .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-78b0ez-18-2a5556157ca4500f904a4e6fcc6d73cb{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-17-35dad3c902a523a7992af3415fa19f39 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-17-35dad3c902a523a7992af3415fa19f39 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-17-35dad3c902a523a7992af3415fa19f39 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-gauvxw-44ddde4d3a3143755dd2c20c8548a5f8{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-gauvxw-44ddde4d3a3143755dd2c20c8548a5f8 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-gauvxw-44ddde4d3a3143755dd2c20c8548a5f8 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-gauvxw-44ddde4d3a3143755dd2c20c8548a5f8 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-13-b04a7092597f2224346bba28eb60de28{
margin-top:-1%;
}
.hr.av-vm2n26-13-b04a7092597f2224346bba28eb60de28 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-6ayb3v-21-92f7a6fba2da51dfca9b8238ebd3d738{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-12-2cb1fce6ff26ec6bfedcf14a7ebf26b3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-12-2cb1fce6ff26ec6bfedcf14a7ebf26b3 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-12-2cb1fce6ff26ec6bfedcf14a7ebf26b3 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-dn0qp0-dca04e05b527ccd32f7bd0ff9d19486b{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-dn0qp0-dca04e05b527ccd32f7bd0ff9d19486b .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-dn0qp0-dca04e05b527ccd32f7bd0ff9d19486b .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-dn0qp0-dca04e05b527ccd32f7bd0ff9d19486b .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-11-022fda642d720d7a1e20501e75578768{
margin-top:-1%;
}
.hr.av-vm2n26-11-022fda642d720d7a1e20501e75578768 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-3rnwx7-24-02e706dc1748ee29ee3b74fb0842ce5b{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-10-2dc3641872726af2508b4e775b232ca4 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-10-2dc3641872726af2508b4e775b232ca4 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-10-2dc3641872726af2508b4e775b232ca4 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-cdhams-a25a96626e5c3736189554cb772e91c6{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-cdhams-a25a96626e5c3736189554cb772e91c6 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-cdhams-a25a96626e5c3736189554cb772e91c6 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-cdhams-a25a96626e5c3736189554cb772e91c6 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-9-84340b0b6ab8338dab61db130d8155fd{
margin-top:-1%;
}
.hr.av-vm2n26-9-84340b0b6ab8338dab61db130d8155fd .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-2p5t8b-27-2fa6c9d9d7ddcc4f1396d7adc909fb1c{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-8-d2103a5cf4d6322fefc0996714ace8c2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-8-d2103a5cf4d6322fefc0996714ace8c2 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-8-d2103a5cf4d6322fefc0996714ace8c2 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-b2yhf8-1d0c99eb8e7337a75fd183daaa8fec5e{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-b2yhf8-1d0c99eb8e7337a75fd183daaa8fec5e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-b2yhf8-1d0c99eb8e7337a75fd183daaa8fec5e .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-b2yhf8-1d0c99eb8e7337a75fd183daaa8fec5e .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-7-ea0c126d8ade69d0c5a818a40312a0b9{
margin-top:-1%;
}
.hr.av-vm2n26-7-ea0c126d8ade69d0c5a818a40312a0b9 .hr-inner{
width:100px;
border-color:#f1cb00;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
.avia-image-container.av-kwaida3b-9e488a4002df29234d58a2678e831567 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwaic40f-92b8153a7c038b135a3b1b4f2e59f210 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwai9t8w-d10a178797743428ddf248a26550b516 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwai98hc-e4201735dc1f0037b931c027f0dfd8de .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-4b9678ac15eefdbf1a5e2fb9658ee46a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-26-ec871fa949fc8866920c7b88c27fa030 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-23-d6f5a870d1e9d43f12b5b630bca93dce .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-20-3aa9042393b2f05cb10cc6e45137e9c1 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-6abukk-37c87681e2d2d27bcc5ae6755d0e39b2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-29-57cef3d1094245ec49896367dc35db07 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-17-35dad3c902a523a7992af3415fa19f39 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-12-2cb1fce6ff26ec6bfedcf14a7ebf26b3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-10-2dc3641872726af2508b4e775b232ca4 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-8-d2103a5cf4d6322fefc0996714ace8c2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
.avia-image-container.av-kwaida3b-9e488a4002df29234d58a2678e831567 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwaic40f-92b8153a7c038b135a3b1b4f2e59f210 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwai9t8w-d10a178797743428ddf248a26550b516 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwai98hc-e4201735dc1f0037b931c027f0dfd8de .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-4b9678ac15eefdbf1a5e2fb9658ee46a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-26-ec871fa949fc8866920c7b88c27fa030 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-23-d6f5a870d1e9d43f12b5b630bca93dce .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-20-3aa9042393b2f05cb10cc6e45137e9c1 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-6abukk-37c87681e2d2d27bcc5ae6755d0e39b2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-29-57cef3d1094245ec49896367dc35db07 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-17-35dad3c902a523a7992af3415fa19f39 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-12-2cb1fce6ff26ec6bfedcf14a7ebf26b3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-10-2dc3641872726af2508b4e775b232ca4 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-8-d2103a5cf4d6322fefc0996714ace8c2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (max-width: 479px){ 
.avia-image-container.av-kwaida3b-9e488a4002df29234d58a2678e831567 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwaic40f-92b8153a7c038b135a3b1b4f2e59f210 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwai9t8w-d10a178797743428ddf248a26550b516 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-kwai98hc-e4201735dc1f0037b931c027f0dfd8de .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-4b9678ac15eefdbf1a5e2fb9658ee46a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-26-ec871fa949fc8866920c7b88c27fa030 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-23-d6f5a870d1e9d43f12b5b630bca93dce .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-20-3aa9042393b2f05cb10cc6e45137e9c1 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-6abukk-37c87681e2d2d27bcc5ae6755d0e39b2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-29-57cef3d1094245ec49896367dc35db07 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-17-35dad3c902a523a7992af3415fa19f39 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-12-2cb1fce6ff26ec6bfedcf14a7ebf26b3 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-10-2dc3641872726af2508b4e775b232ca4 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-8-d2103a5cf4d6322fefc0996714ace8c2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}
