#top .flex_column.av-ledzdgaj-c9b205aa418b42843b1c53d05a570e32{
margin-top:0px;
margin-bottom:0px;
}
.responsive #top #wrap_all .flex_column.av-ledzdgaj-c9b205aa418b42843b1c53d05a570e32{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-lee0h58d-1ad2747e4b32d33515a1fa794b9acdcc{
height:40px;
}

#top .av-special-heading.av-6harzy-dc0e4155ed0d8a00853429c323fef62c{
margin:-5% 0 0 0;
padding-bottom:0px;
font-size:40px;
}
body .av-special-heading.av-6harzy-dc0e4155ed0d8a00853429c323fef62c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-6harzy-dc0e4155ed0d8a00853429c323fef62c .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-6harzy-dc0e4155ed0d8a00853429c323fef62c .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-6e8420b14a98e094ebbf69f97af76172{
margin-bottom:20PX;
}
.hr.av-vm2n26-6e8420b14a98e094ebbf69f97af76172 .hr-inner{
width:100px;
border-color:#f1cb00;
}

