#top .flex_column.av-js4oiffu-e884cce8bee0c6ff2fb4058a2330c99d{
margin-top:-2%;
margin-bottom:-2%;
}
.flex_column.av-js4oiffu-e884cce8bee0c6ff2fb4058a2330c99d{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-js4oiffu-e884cce8bee0c6ff2fb4058a2330c99d{
margin-top:-2%;
margin-bottom:-2%;
}

.avia-image-container.av-js4o8asj-5bfbd25e86e67f35ec3a8a1323525260 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-js4o8asj-5bfbd25e86e67f35ec3a8a1323525260 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-js4o8asj-5bfbd25e86e67f35ec3a8a1323525260 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-js4o8asj-15-08e4805c3ec40b53f512bf0b5f65b1d1 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-js4o8asj-15-08e4805c3ec40b53f512bf0b5f65b1d1 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-js4o8asj-15-08e4805c3ec40b53f512bf0b5f65b1d1 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-jsg37u7k-1f1bfc82ffda7b1683dcd062b529d970{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-1f1bfc82ffda7b1683dcd062b529d970 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}

.flex_column.av-72uvqc-5de0df603f685349777d013db3842c93{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .avia-animated-number.av-jsg2n5aq-f90643c22bd13b5c38b47abbdf455fa3 .avia-animated-number-title{
color:#f2e38e;
}
#top .avia-animated-number.av-jsg2n5aq-f90643c22bd13b5c38b47abbdf455fa3 .avia-animated-number-content{
color:#f2e38e;
}

.flex_column.av-6k5fwk-34e9daab9c45e5c540f419f2fd5d5f7a{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .avia-animated-number.av-jsg2n5aq-11-d2bc57e8db7366c48c3b3b838fda73ca .avia-animated-number-title{
color:#f2e38e;
}
#top .avia-animated-number.av-jsg2n5aq-11-d2bc57e8db7366c48c3b3b838fda73ca .avia-animated-number-content{
color:#f2e38e;
}

.flex_column.av-3rb96c-497df3b1d2b34dc553fd163808460287{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .avia-animated-number.av-jsg2n5aq-10-f5667b0c2e5a5382cb20bd2cd948497a .avia-animated-number-title{
color:#f2e38e;
}
#top .avia-animated-number.av-jsg2n5aq-10-f5667b0c2e5a5382cb20bd2cd948497a .avia-animated-number-content{
color:#f2e38e;
}

.flex_column.av-2inj38-f759ea968dfdd500e0ef8ba5ae2749cc{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .avia-animated-number.av-jsg2n5aq-9-9882d0705a54f4f53f2e267ec9de4575 .avia-animated-number-title{
color:#f2e38e;
}

#top .hr.av-vm2n26-13-98e6de4010f8ad47ea78aef249ea3a25{
margin-top:-1%;
margin-bottom:-2%;
}
.hr.av-vm2n26-13-98e6de4010f8ad47ea78aef249ea3a25 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-accordion.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d{
max-height:375px;
}
.avia-accordion.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d .aviaccordion-preview{
width:20.1%;
}
#top .avia-accordion.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d .aviaccordion-title{
font-size:20px;
}
.avia-accordion .aviaccordion-slide.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d__0{
left:0%;
}
.avia-accordion .aviaccordion-slide.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d__1{
left:20%;
}
.avia-accordion .aviaccordion-slide.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d__2{
left:40%;
}
.avia-accordion .aviaccordion-slide.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d__3{
left:60%;
}
.avia-accordion .aviaccordion-slide.av-1js8749-dda58c1826a41dc09e2f7d2ce08c611d__4{
left:80%;
}

.flex_cell.av-w81ypq-ec0db6750163e15518800a39325e6fc3{
vertical-align:middle;
padding:150px 0px 150px 150px;
background-color:#f8f8f8;
}

#top .flex_column.av-vzp8bq-e2777099cb6d3052873b302f07eb2145{
margin-top:-20%;
margin-bottom:-20%;
}
.flex_column.av-vzp8bq-e2777099cb6d3052873b302f07eb2145{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-vzp8bq-e2777099cb6d3052873b302f07eb2145{
margin-top:-20%;
margin-bottom:-20%;
}

#top .av-special-heading.av-jv810b8e-3cf8b44f6a6bb4fd8e618ca95a1085f7{
padding-bottom:20px;
color:#000000;
font-size:40px;
}
body .av-special-heading.av-jv810b8e-3cf8b44f6a6bb4fd8e618ca95a1085f7 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-jv810b8e-3cf8b44f6a6bb4fd8e618ca95a1085f7 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-jv810b8e-3cf8b44f6a6bb4fd8e618ca95a1085f7 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-jv810b8e-3cf8b44f6a6bb4fd8e618ca95a1085f7 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-8-c712932e3a93a1055e156a4a650b5e7b{
margin-top:-3%;
}
.hr.av-vm2n26-8-c712932e3a93a1055e156a4a650b5e7b .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top #wrap_all .avia-button.av-u6kx9i-e0fc2d51c418581922fc3dc4316f0066{
background-color:#f1cb00;
border-color:#f1cb00;
color:#ffffff;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
transition:all 0.4s ease-in-out;
}

.flex_cell.av-u2q3ku-4c6420b953ba20c10ec55883965ac075{
vertical-align:top;
background-color:#f8f8f8;
}

.avia-image-container.av-js5u9vjq-133d0f0e8b482f71e44939d15bd88148 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-js5u9vjq-133d0f0e8b482f71e44939d15bd88148 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-js5u9vjq-133d0f0e8b482f71e44939d15bd88148 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .flex_column.av-au7zy-bcf977bc0b571199746fe616abdb8153{
margin-top:0px;
margin-bottom:-2%;
}
.flex_column.av-au7zy-bcf977bc0b571199746fe616abdb8153{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-au7zy-bcf977bc0b571199746fe616abdb8153{
margin-top:0px;
margin-bottom:-2%;
}

#top .av-special-heading.av-jv810b8e-7-c9e055b76b6427a2fcd6b3862256e857{
padding-bottom:20px;
color:#000000;
font-size:40px;
}
body .av-special-heading.av-jv810b8e-7-c9e055b76b6427a2fcd6b3862256e857 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-jv810b8e-7-c9e055b76b6427a2fcd6b3862256e857 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-jv810b8e-7-c9e055b76b6427a2fcd6b3862256e857 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-jv810b8e-7-c9e055b76b6427a2fcd6b3862256e857 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-6-aac510e0cd2f1988f657d92f57a871fe{
margin-top:-1%;
margin-bottom:-1%;
}
.hr.av-vm2n26-6-aac510e0cd2f1988f657d92f57a871fe .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .av-masonry.av-judv55n4-f4d1eb2ba42c9fa0c9a9959952019a07{
background-color:#35383c;
}

#top .av-special-heading.av-2sfav8-9008ef91915cafec6d6024942bac8464{
padding-bottom:20px;
color:#000000;
font-size:40px;
}
body .av-special-heading.av-2sfav8-9008ef91915cafec6d6024942bac8464 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2sfav8-9008ef91915cafec6d6024942bac8464 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-2sfav8-9008ef91915cafec6d6024942bac8464 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-2sfav8-9008ef91915cafec6d6024942bac8464 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-4-a122421d4429e77e0b2ae85bb479941a{
margin-top:-3px;
}
.hr.av-vm2n26-4-a122421d4429e77e0b2ae85bb479941a .hr-inner{
width:100px;
border-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1ir09k4-b3835b5e662223d757a54fc09bfc2133{
top:71.8%;
left:49.9%;
}
.av-hotspot-image-container .av-image-hotspot.av-1ir09k4-b3835b5e662223d757a54fc09bfc2133 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1ir09k4-b3835b5e662223d757a54fc09bfc2133 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1i8ijic-2897ae4bf8b88ffd248bf575d2f00f76{
top:72.6%;
left:51.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-1i8ijic-2897ae4bf8b88ffd248bf575d2f00f76 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1i8ijic-2897ae4bf8b88ffd248bf575d2f00f76 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1fkx6mc-8570bc3bf6f7770a7d9365dd9cdaed0b{
top:50%;
left:25%;
}
.av-hotspot-image-container .av-image-hotspot.av-1fkx6mc-8570bc3bf6f7770a7d9365dd9cdaed0b .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1fkx6mc-8570bc3bf6f7770a7d9365dd9cdaed0b .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1dtxb3o-31c9c1e08e53b8262e8e24e5383b73a6{
top:84.2%;
left:56.7%;
}
.av-hotspot-image-container .av-image-hotspot.av-1dtxb3o-31c9c1e08e53b8262e8e24e5383b73a6 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1dtxb3o-31c9c1e08e53b8262e8e24e5383b73a6 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1di9n2s-6783fbf3fc905dc9066bd1feef81e4e4{
top:61.6%;
left:34.3%;
}
.av-hotspot-image-container .av-image-hotspot.av-1di9n2s-6783fbf3fc905dc9066bd1feef81e4e4 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1di9n2s-6783fbf3fc905dc9066bd1feef81e4e4 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1bcspuc-4d297374e74865bfe9299f3249a9d688{
top:91.1%;
left:78.4%;
}
.av-hotspot-image-container .av-image-hotspot.av-1bcspuc-4d297374e74865bfe9299f3249a9d688 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1bcspuc-4d297374e74865bfe9299f3249a9d688 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-19qhb50-d64754693ef74c963c0273a0675b5117{
top:30.3%;
left:15.1%;
}
.av-hotspot-image-container .av-image-hotspot.av-19qhb50-d64754693ef74c963c0273a0675b5117 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-19qhb50-d64754693ef74c963c0273a0675b5117 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-61vwt0-0f8c069b08624363bdf3d65f9b3a83b3{
top:36.6%;
left:18.4%;
}
.av-hotspot-image-container .av-image-hotspot.av-61vwt0-0f8c069b08624363bdf3d65f9b3a83b3 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-61vwt0-0f8c069b08624363bdf3d65f9b3a83b3 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-kjsck-2e0ba66642aab21bf2fd902eaa2b1753{
top:35.8%;
left:22.5%;
}
.av-hotspot-image-container .av-image-hotspot.av-kjsck-2e0ba66642aab21bf2fd902eaa2b1753 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-kjsck-2e0ba66642aab21bf2fd902eaa2b1753 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-4weut0-569ca50458f9424b3878d7a3c7ed03ca{
top:32.7%;
left:18.4%;
}
.av-hotspot-image-container .av-image-hotspot.av-4weut0-569ca50458f9424b3878d7a3c7ed03ca .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-4weut0-569ca50458f9424b3878d7a3c7ed03ca .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-3sagck-57b87ae1bd0a57a64d80a9cefdd7b213{
top:32.7%;
left:20.1%;
}
.av-hotspot-image-container .av-image-hotspot.av-3sagck-57b87ae1bd0a57a64d80a9cefdd7b213 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-3sagck-57b87ae1bd0a57a64d80a9cefdd7b213 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-6j2hbo-6ccfd3257999c8c16bee1411a2a8c94d{
top:38.1%;
left:19.3%;
}
.av-hotspot-image-container .av-image-hotspot.av-6j2hbo-6ccfd3257999c8c16bee1411a2a8c94d .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-6j2hbo-6ccfd3257999c8c16bee1411a2a8c94d .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-2b0df8-86c12942b38927fea9325fe414d2ca0b{
top:41.3%;
left:21.8%;
}
.av-hotspot-image-container .av-image-hotspot.av-2b0df8-86c12942b38927fea9325fe414d2ca0b .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-2b0df8-86c12942b38927fea9325fe414d2ca0b .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-2gahk4-37cede4e6ecfddf1f9438b800ba9441f{
top:11%;
left:48.5%;
}
.av-hotspot-image-container .av-image-hotspot.av-2gahk4-37cede4e6ecfddf1f9438b800ba9441f .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-2gahk4-37cede4e6ecfddf1f9438b800ba9441f .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-vy35is-154438ef62f02fd43e658cb39e4e8b21{
top:12.4%;
left:52.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-vy35is-154438ef62f02fd43e658cb39e4e8b21 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-vy35is-154438ef62f02fd43e658cb39e4e8b21 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-v8p0kk-5828582f16ace9ed96735b32b9942c2e{
top:21%;
left:45.2%;
}
.av-hotspot-image-container .av-image-hotspot.av-v8p0kk-5828582f16ace9ed96735b32b9942c2e .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-v8p0kk-5828582f16ace9ed96735b32b9942c2e .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-2xfk2c-7153ca4aba0facea76c141f4bf79e3b7{
top:15.6%;
left:46.8%;
}
.av-hotspot-image-container .av-image-hotspot.av-2xfk2c-7153ca4aba0facea76c141f4bf79e3b7 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-2xfk2c-7153ca4aba0facea76c141f4bf79e3b7 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-rs6mtw-00b74c0c73df047cdc7a9f7497cdea67{
top:7.9%;
left:43.5%;
}
.av-hotspot-image-container .av-image-hotspot.av-rs6mtw-00b74c0c73df047cdc7a9f7497cdea67 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-rs6mtw-00b74c0c73df047cdc7a9f7497cdea67 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-nyvnas-e2de2de52c103f9bacfed3e345bde6ee{
top:12.4%;
left:41.8%;
}
.av-hotspot-image-container .av-image-hotspot.av-nyvnas-e2de2de52c103f9bacfed3e345bde6ee .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-nyvnas-e2de2de52c103f9bacfed3e345bde6ee .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-lvotb8-6e1f186c1484a2cc51e3816088622993{
top:17%;
left:42.7%;
}
.av-hotspot-image-container .av-image-hotspot.av-lvotb8-6e1f186c1484a2cc51e3816088622993 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-lvotb8-6e1f186c1484a2cc51e3816088622993 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-kt7s78-d6cca771cb50dd121a0be1f830500044{
top:22.5%;
left:48.5%;
}
.av-hotspot-image-container .av-image-hotspot.av-kt7s78-d6cca771cb50dd121a0be1f830500044 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-kt7s78-d6cca771cb50dd121a0be1f830500044 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-j66fus-daefa79cc783f3586d7f5a40a1246e47{
top:19.5%;
left:50.9%;
}
.av-hotspot-image-container .av-image-hotspot.av-j66fus-daefa79cc783f3586d7f5a40a1246e47 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-j66fus-daefa79cc783f3586d7f5a40a1246e47 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-h1yb9w-fff01c12869563bc8e50633bbc16b951{
top:14.8%;
left:59.2%;
}
.av-hotspot-image-container .av-image-hotspot.av-h1yb9w-fff01c12869563bc8e50633bbc16b951 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-h1yb9w-fff01c12869563bc8e50633bbc16b951 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-gbtt90-cbe60eb27af80e8a84e0222a99db181b{
top:4.7%;
left:51.7%;
}
.av-hotspot-image-container .av-image-hotspot.av-gbtt90-cbe60eb27af80e8a84e0222a99db181b .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-gbtt90-cbe60eb27af80e8a84e0222a99db181b .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-ebt078-116f92c8adca88715eed8f0aabeb1ff9{
top:7.2%;
left:48.3%;
}
.av-hotspot-image-container .av-image-hotspot.av-ebt078-116f92c8adca88715eed8f0aabeb1ff9 .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-ebt078-116f92c8adca88715eed8f0aabeb1ff9 .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-cz5od0-cbfa9b4af57686c41741c0b41260afed{
top:32.9%;
left:84.2%;
}
.av-hotspot-image-container .av-image-hotspot.av-cz5od0-cbfa9b4af57686c41741c0b41260afed .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-cz5od0-cbfa9b4af57686c41741c0b41260afed .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-10omuc-4282cb967b700fcdcf63d57b4dbc101f{
top:22%;
left:70%;
}
.av-hotspot-image-container .av-image-hotspot.av-10omuc-4282cb967b700fcdcf63d57b4dbc101f .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-10omuc-4282cb967b700fcdcf63d57b4dbc101f .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-862r38-e3c6b71d35bf1c67ae7e09196610923c{
top:29%;
left:81.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-862r38-e3c6b71d35bf1c67ae7e09196610923c .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-862r38-e3c6b71d35bf1c67ae7e09196610923c .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-467s6s-70feb7598f9479588a5dd9f6783b75ce{
top:24.3%;
left:86.7%;
}
.av-hotspot-image-container .av-image-hotspot.av-467s6s-70feb7598f9479588a5dd9f6783b75ce .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-467s6s-70feb7598f9479588a5dd9f6783b75ce .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-1wgbok-634bf32d3eca0bfec68fd0702be7ec6c{
top:25.1%;
left:83.3%;
}
.av-hotspot-image-container .av-image-hotspot.av-1wgbok-634bf32d3eca0bfec68fd0702be7ec6c .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-1wgbok-634bf32d3eca0bfec68fd0702be7ec6c .av-image-hotspot-pulse{
background-color:#f1cb00;
}

.av-hotspot-image-container .av-image-hotspot.av-233qic-43aa41cb3c11a85cddedca9a2f28eb1f{
top:31.3%;
left:4.1%;
}
.av-hotspot-image-container .av-image-hotspot.av-233qic-43aa41cb3c11a85cddedca9a2f28eb1f .av-image-hotspot_inner{
background-color:#f1cb00;
color:#888888;
}
.av-hotspot-image-container .av-image-hotspot.av-233qic-43aa41cb3c11a85cddedca9a2f28eb1f .av-image-hotspot-pulse{
background-color:#f1cb00;
}

#top .av-masonry.av-2qjey6-242284d9e0c3ef54c3a40b81959ab69b{
background-color:#35383c;
}

#top .av-special-heading.av-jv810b8e-5-ddfce1884cf0e213c01d2b1a7e5c8af7{
padding-bottom:20px;
color:#000000;
font-size:40px;
}
body .av-special-heading.av-jv810b8e-5-ddfce1884cf0e213c01d2b1a7e5c8af7 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-jv810b8e-5-ddfce1884cf0e213c01d2b1a7e5c8af7 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-jv810b8e-5-ddfce1884cf0e213c01d2b1a7e5c8af7 .special-heading-inner-border{
border-color:#000000;
}
.av-special-heading.av-jv810b8e-5-ddfce1884cf0e213c01d2b1a7e5c8af7 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-3-e7bdda9745e04427d4eca027dc94bb55{
margin-top:-3px;
margin-bottom:-1%;
}
.hr.av-vm2n26-3-e7bdda9745e04427d4eca027dc94bb55 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-1i8bo0-0005d4fce2ea6ea7104bb91984dbddb7{
background-repeat:no-repeat;
background-image:url(../images/Solvis_firma.jpg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-1i8bo0-0005d4fce2ea6ea7104bb91984dbddb7 .av-section-color-overlay{
opacity:0.9;
background-color:#35383c;
}

#top .av-special-heading.av-6idtz8-896056ff9d22967ed569bf2256d1e874{
padding-bottom:20px;
color:#ffffff;
font-size:30px;
}
body .av-special-heading.av-6idtz8-896056ff9d22967ed569bf2256d1e874 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-6idtz8-896056ff9d22967ed569bf2256d1e874 .av-special-heading-tag{
font-size:30px;
}
.av-special-heading.av-6idtz8-896056ff9d22967ed569bf2256d1e874 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-6idtz8-896056ff9d22967ed569bf2256d1e874 .av-subheading{
font-size:15px;
}

.flex_column.av-14zphk-6533a24c4dec214f0277f6294301fbce{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-14zphk-2-49b7a40ad95b2e3577ddb6fb600bfdf8{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-14zphk-1-afdf3156c2d9a8368c35710d9e07ff8b{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
.avia-image-container.av-js4o8asj-5bfbd25e86e67f35ec3a8a1323525260 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-js4o8asj-15-08e4805c3ec40b53f512bf0b5f65b1d1 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-js5u9vjq-133d0f0e8b482f71e44939d15bd88148 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
.avia-image-container.av-js4o8asj-5bfbd25e86e67f35ec3a8a1323525260 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-js4o8asj-15-08e4805c3ec40b53f512bf0b5f65b1d1 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-js5u9vjq-133d0f0e8b482f71e44939d15bd88148 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (max-width: 479px){ 
.avia-image-container.av-js4o8asj-5bfbd25e86e67f35ec3a8a1323525260 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-js4o8asj-15-08e4805c3ec40b53f512bf0b5f65b1d1 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-js5u9vjq-133d0f0e8b482f71e44939d15bd88148 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}
