.flex_cell.av-675c9u-46301a7033ab84e31d437f965ee873ab{
vertical-align:top;
padding:30px 30px 30px 30px;
}

.iconbox.av-jsu72bm5-cba204aed4824ecb5677d694dfc01ffc .iconbox_icon{
background-color:#35383c;
border:1px solid #35383c;
color:#f1cb00;
}
#top #wrap_all .iconbox.av-jsu72bm5-cba204aed4824ecb5677d694dfc01ffc .iconbox_content_title{
color:#35383c;
}
.iconbox.av-jsu72bm5-cba204aed4824ecb5677d694dfc01ffc .iconbox_content_container{
color:#35383c;
}

.iconbox.av-jsu72bm5-2dd937c5cf672b1fa38de2ae6797002f .iconbox_icon{
background-color:#35383c;
border:1px solid #35383c;
color:#f1cb00;
}
#top #wrap_all .iconbox.av-jsu72bm5-2dd937c5cf672b1fa38de2ae6797002f .iconbox_content_title{
color:#35383c;
}
.iconbox.av-jsu72bm5-2dd937c5cf672b1fa38de2ae6797002f .iconbox_content_container{
color:#35383c;
}

.iconbox.av-jsu72bm5-e1a5a7b189e72244038973e2fdbe1c59 .iconbox_icon{
background-color:#35383c;
border:1px solid #35383c;
color:#f1cb00;
}
#top #wrap_all .iconbox.av-jsu72bm5-e1a5a7b189e72244038973e2fdbe1c59 .iconbox_content_title{
color:#35383c;
}
.iconbox.av-jsu72bm5-e1a5a7b189e72244038973e2fdbe1c59 .iconbox_content_container{
color:#35383c;
}

.flex_cell.av-jsu7ab9w-16aeb3497e35c948ca2e5b39689ac062{
vertical-align:top;
padding:30px 30px 30px 30px;
}

.iconbox.av-jsu72bm5-7800c3eac323ba0f03bf50e090691556 .iconbox_icon{
background-color:#35383c;
border:1px solid #35383c;
color:#f1cb00;
}
#top #wrap_all .iconbox.av-jsu72bm5-7800c3eac323ba0f03bf50e090691556 .iconbox_content_title{
color:#35383c;
}
.iconbox.av-jsu72bm5-7800c3eac323ba0f03bf50e090691556 .iconbox_content_container{
color:#35383c;
}

.av-tab-section-outer-container.av-juwkw6pv-162a6374c10abe0da34ca461023b42bb .av-tab-section-tab-title-container{
background-color:#35383c;
}
#top .av-tab-section-outer-container.av-juwkw6pv-162a6374c10abe0da34ca461023b42bb .av-section-tab-title{
color:#ffffff;
}

.av-layout-tab.av-juwkrem0-007c137a0130d6893507411c03a536e2{
vertical-align:bottom;
}
#top .av-tab-section-outer-container.av-juwkw6pv-162a6374c10abe0da34ca461023b42bb .av-active-tab-title.av-section-tab-title.av-juwkrem0-007c137a0130d6893507411c03a536e2{
color:#f1cb00;
}

#top .av-special-heading.av-3l9cw4-1dde5b415cffca60503b3dddf44d0cb5{
margin:-5% 0 0 0;
padding-bottom:0px;
font-size:40px;
}
body .av-special-heading.av-3l9cw4-1dde5b415cffca60503b3dddf44d0cb5 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-3l9cw4-1dde5b415cffca60503b3dddf44d0cb5 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-3l9cw4-1dde5b415cffca60503b3dddf44d0cb5 .av-subheading{
font-size:15px;
}

.hr.av-vm2n26-175cc8e170bf337065f72729f387afe5 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.hr.av-vm2n26-175cc8e170bf337065f72729f387afe5 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.av-layout-tab.av-juwkyjds-2b0cf4d10815abb5699c3848f6dc574c{
vertical-align:middle;
background-color:#ffffff;
}
#top .av-tab-section-outer-container.av-juwkw6pv-162a6374c10abe0da34ca461023b42bb .av-active-tab-title.av-section-tab-title.av-juwkyjds-2b0cf4d10815abb5699c3848f6dc574c{
color:#f1cb00;
}
#top .av-tab-section-outer-container.av-juwkw6pv-162a6374c10abe0da34ca461023b42bb .av-active-tab-title.av-section-tab-title.av-juwkyjds-2b0cf4d10815abb5699c3848f6dc574c .av-tab-arrow-container span{
background-color:#ffffff;
}

#top .av-special-heading.av-1zmdtg-468a630d14bdbca089570ef51cf6c031{
margin:-15% 0 0 0;
padding-bottom:0px;
font-size:40px;
}
body .av-special-heading.av-1zmdtg-468a630d14bdbca089570ef51cf6c031 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-1zmdtg-468a630d14bdbca089570ef51cf6c031 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-1zmdtg-468a630d14bdbca089570ef51cf6c031 .av-subheading{
font-size:15px;
}

