.flex_cell.av-675c9u-46301a7033ab84e31d437f965ee873ab{
vertical-align:top;
padding:30px 30px 30px 30px;
}

.iconbox.av-jsu72bm5-8af95a69730838642dfa624ee39e9a3a .iconbox_icon{
background-color:#35383c;
border:1px solid #35383c;
color:#f1cb00;
}
#top #wrap_all .iconbox.av-jsu72bm5-8af95a69730838642dfa624ee39e9a3a .iconbox_content_title{
color:#35383c;
}
.iconbox.av-jsu72bm5-8af95a69730838642dfa624ee39e9a3a .iconbox_content_container{
color:#35383c;
}

.iconbox.av-jsu72bm5-4-61143020166dc8953a62b58d914be375 .iconbox_icon{
background-color:#35383c;
border:1px solid #35383c;
color:#f1cb00;
}
#top #wrap_all .iconbox.av-jsu72bm5-4-61143020166dc8953a62b58d914be375 .iconbox_content_title{
color:#35383c;
}
.iconbox.av-jsu72bm5-4-61143020166dc8953a62b58d914be375 .iconbox_content_container{
color:#35383c;
}

.iconbox.av-jsu72bm5-3-324f8a4b193d013583f84cf9777be16a .iconbox_icon{
background-color:#35383c;
border:1px solid #35383c;
color:#f1cb00;
}
#top #wrap_all .iconbox.av-jsu72bm5-3-324f8a4b193d013583f84cf9777be16a .iconbox_content_title{
color:#35383c;
}
.iconbox.av-jsu72bm5-3-324f8a4b193d013583f84cf9777be16a .iconbox_content_container{
color:#35383c;
}

.flex_cell.av-jsu7ab9w-16aeb3497e35c948ca2e5b39689ac062{
vertical-align:top;
padding:30px 30px 30px 30px;
}

.iconbox.av-jsu72bm5-2-9b23fd4d775e171c3463d1355c039456 .iconbox_icon{
background-color:#35383c;
border:1px solid #35383c;
color:#f1cb00;
}
#top #wrap_all .iconbox.av-jsu72bm5-2-9b23fd4d775e171c3463d1355c039456 .iconbox_content_title{
color:#35383c;
}
.iconbox.av-jsu72bm5-2-9b23fd4d775e171c3463d1355c039456 .iconbox_content_container{
color:#35383c;
}

.av-tab-section-outer-container.av-juwkw6pv-ac625521ba5f1fd3303d8848b7862c39 .av-tab-section-tab-title-container{
background-color:#35383c;
}
#top .av-tab-section-outer-container.av-juwkw6pv-ac625521ba5f1fd3303d8848b7862c39 .av-section-tab-title{
color:#ffffff;
}

.av-layout-tab.av-juwkrem0-737309b90a20496225c4ac62ba04ee9d{
vertical-align:bottom;
}
#top .av-tab-section-outer-container.av-juwkw6pv-ac625521ba5f1fd3303d8848b7862c39 .av-active-tab-title.av-section-tab-title.av-juwkrem0-737309b90a20496225c4ac62ba04ee9d{
color:#f1cb00;
}

#top .av-special-heading.av-6harzy-8272893c5ce25bb1f1736888d0d30c43{
margin:-5% 0 0 0;
padding-bottom:0px;
font-size:40px;
}
body .av-special-heading.av-6harzy-8272893c5ce25bb1f1736888d0d30c43 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-6harzy-8272893c5ce25bb1f1736888d0d30c43 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-6harzy-8272893c5ce25bb1f1736888d0d30c43 .av-subheading{
font-size:15px;
}

.hr.av-vm2n26-175cc8e170bf337065f72729f387afe5 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.av-layout-tab.av-juwkyjds-5ae70e407ac8424cf563d40ffc0fa5ff{
vertical-align:middle;
background-color:#ffffff;
}
#top .av-tab-section-outer-container.av-juwkw6pv-ac625521ba5f1fd3303d8848b7862c39 .av-active-tab-title.av-section-tab-title.av-juwkyjds-5ae70e407ac8424cf563d40ffc0fa5ff{
color:#f1cb00;
}
#top .av-tab-section-outer-container.av-juwkw6pv-ac625521ba5f1fd3303d8848b7862c39 .av-active-tab-title.av-section-tab-title.av-juwkyjds-5ae70e407ac8424cf563d40ffc0fa5ff .av-tab-arrow-container span{
background-color:#ffffff;
}

#top .av-special-heading.av-31dtv2-1195e7bf0b43cda57a009996b306636c{
margin:-15% 0 0 0;
padding-bottom:0px;
font-size:40px;
}
body .av-special-heading.av-31dtv2-1195e7bf0b43cda57a009996b306636c .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-31dtv2-1195e7bf0b43cda57a009996b306636c .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-31dtv2-1195e7bf0b43cda57a009996b306636c .av-subheading{
font-size:15px;
}

.hr.av-vm2n26-1-244c296c9d6d11d34350af8cb05e2130 .hr-inner{
width:100px;
border-color:#f1cb00;
}

