.avia-image-container.av-jto0tl8q-5784456cc5fd617017e8573c17eca993 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jto0tl8q-5784456cc5fd617017e8573c17eca993 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jto0tl8q-5784456cc5fd617017e8573c17eca993 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-jv6pdfzb-88e22d13793bd429fa6921854dc73f7e{
padding-bottom:0px;
color:#0a0a0a;
font-size:40px;
}
body .av-special-heading.av-jv6pdfzb-88e22d13793bd429fa6921854dc73f7e .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-jv6pdfzb-88e22d13793bd429fa6921854dc73f7e .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-jv6pdfzb-88e22d13793bd429fa6921854dc73f7e .special-heading-inner-border{
border-color:#0a0a0a;
}
.av-special-heading.av-jv6pdfzb-88e22d13793bd429fa6921854dc73f7e .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-08a542c003756f2a36bc247c380bd6dd{
margin-top:-1%;
margin-bottom:30px;
}
.hr.av-vm2n26-08a542c003756f2a36bc247c380bd6dd .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-08a542c003756f2a36bc247c380bd6dd{
margin-top:-1%;
margin-bottom:30px;
}
.hr.av-vm2n26-08a542c003756f2a36bc247c380bd6dd .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-image-container.av-jto0tl8q-c07e6de8d5582d06e57b3a15b5b53862 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jto0tl8q-c07e6de8d5582d06e57b3a15b5b53862 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jto0tl8q-c07e6de8d5582d06e57b3a15b5b53862 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-jv6pdlac-2b5a93b9390f092d288342448c5f4d47{
padding-bottom:0px;
color:#0a0a0a;
font-size:40px;
}
body .av-special-heading.av-jv6pdlac-2b5a93b9390f092d288342448c5f4d47 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-jv6pdlac-2b5a93b9390f092d288342448c5f4d47 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-jv6pdlac-2b5a93b9390f092d288342448c5f4d47 .special-heading-inner-border{
border-color:#0a0a0a;
}
.av-special-heading.av-jv6pdlac-2b5a93b9390f092d288342448c5f4d47 .av-subheading{
font-size:15px;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
.avia-image-container.av-jto0tl8q-5784456cc5fd617017e8573c17eca993 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jto0tl8q-c07e6de8d5582d06e57b3a15b5b53862 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
.avia-image-container.av-jto0tl8q-5784456cc5fd617017e8573c17eca993 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jto0tl8q-c07e6de8d5582d06e57b3a15b5b53862 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (max-width: 479px){ 
.avia-image-container.av-jto0tl8q-5784456cc5fd617017e8573c17eca993 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jto0tl8q-c07e6de8d5582d06e57b3a15b5b53862 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}
