.avia-section.av-ob09pr-dc0cc2ed6e4a16c8d7a332bff9e4c7b5{
background-repeat:no-repeat;
background-image:url(../images/Background-3.jpg);
background-position:50% 0%;
background-attachment:scroll;
}
.avia-section.av-ob09pr-dc0cc2ed6e4a16c8d7a332bff9e4c7b5 .av-section-color-overlay{
opacity:0.6;
}

.flex_column.av-1etn7v-dc1150c112994f18e8419ce7ddcf0700{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.av-hotspot-image-container .av-image-hotspot.av-bqqhob-8809c524fbbe22dd99bf1b735410ac24{
top:92.8%;
left:61.1%;
}
.av-hotspot-image-container .av-image-hotspot.av-bqqhob-8809c524fbbe22dd99bf1b735410ac24 .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-bqqhob-8809c524fbbe22dd99bf1b735410ac24 .av-image-hotspot-pulse{
background-color:#35383c;
}

.av-hotspot-image-container .av-image-hotspot.av-a46q1n-7f01a64d0d5c996b7698c0c3eb0cb610{
top:80.2%;
left:64.8%;
}
.av-hotspot-image-container .av-image-hotspot.av-a46q1n-7f01a64d0d5c996b7698c0c3eb0cb610 .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-a46q1n-7f01a64d0d5c996b7698c0c3eb0cb610 .av-image-hotspot-pulse{
background-color:#35383c;
}

.av-hotspot-image-container .av-image-hotspot.av-8phnvv-3980c739814f3122f35a00af78440cfd{
top:65.7%;
left:70.3%;
}
.av-hotspot-image-container .av-image-hotspot.av-8phnvv-3980c739814f3122f35a00af78440cfd .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-8phnvv-3980c739814f3122f35a00af78440cfd .av-image-hotspot-pulse{
background-color:#35383c;
}

.av-hotspot-image-container .av-image-hotspot.av-8464pn-df66373139b907ccfffc0333e7a0065b{
top:53.2%;
left:77.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-8464pn-df66373139b907ccfffc0333e7a0065b .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-8464pn-df66373139b907ccfffc0333e7a0065b .av-image-hotspot-pulse{
background-color:#35383c;
}

.av-hotspot-image-container .av-image-hotspot.av-luox7-74d2e38e02faa86510190d48391457f6{
top:40.6%;
left:81.4%;
}
.av-hotspot-image-container .av-image-hotspot.av-luox7-74d2e38e02faa86510190d48391457f6 .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-luox7-74d2e38e02faa86510190d48391457f6 .av-image-hotspot-pulse{
background-color:#35383c;
}

.av-hotspot-image-container .av-image-hotspot.av-3zfenf-7cf64921ec0f8f9aeda2a0709fd01d09{
top:28.1%;
left:88.7%;
}
.av-hotspot-image-container .av-image-hotspot.av-3zfenf-7cf64921ec0f8f9aeda2a0709fd01d09 .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-3zfenf-7cf64921ec0f8f9aeda2a0709fd01d09 .av-image-hotspot-pulse{
background-color:#35383c;
}

.av-hotspot-image-container .av-image-hotspot.av-25efnv-039f847b8a670ed1b5ed00bed69cab05{
top:12.4%;
left:74%;
}
.av-hotspot-image-container .av-image-hotspot.av-25efnv-039f847b8a670ed1b5ed00bed69cab05 .av-image-hotspot_inner{
background-color:#35383c;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-25efnv-039f847b8a670ed1b5ed00bed69cab05 .av-image-hotspot-pulse{
background-color:#35383c;
}

.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-extra-border-element .av-extra-border-inner{
background-color:#35383c;
}

.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-extra-border-element .av-extra-border-inner{
background-color:#35383c;
}

.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-extra-border-element .av-extra-border-inner{
background-color:#35383c;
}

.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}
.avia-section.av-jsg37u7k-ab36d94abde9bfb4b615f9ea72371cf9 .av-extra-border-element .av-extra-border-inner{
background-color:#35383c;
}

#top .av-special-heading.av-jv6peyxm-4fe12ed6a38bc3173725656af5d6b577{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jv6peyxm-4fe12ed6a38bc3173725656af5d6b577 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jv6peyxm-4fe12ed6a38bc3173725656af5d6b577 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jv6peyxm-4fe12ed6a38bc3173725656af5d6b577 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

#top .hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38{
margin-top:-1%;
}
.hr.av-vm2n26-7f27af919ef9c1673664fc807ec2bb38 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-jsg37u7k-10f42ff937c885d10fe128cc7f32476d{
background-color:#ffffff;
background-image:unset;
}
.avia-section.av-jsg37u7k-10f42ff937c885d10fe128cc7f32476d .av-section-color-overlay{
opacity:0.5;
background-color:#ffffff;
}

#top .hr.hr-invisible.av-jtioq6zb-e22597dd1f58c77ec26cd15160c8a4fb{
height:50px;
}

.flex_column.av-8rw963-d16e10223a751e49500398fec6d72d16{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-257d17-9de6be6e833693c5e10eacb945813012 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-9de6be6e833693c5e10eacb945813012 img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-47u9ff-92231b6431febb6873e3af96d3a2ff96{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-47u9ff-92231b6431febb6873e3af96d3a2ff96 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-47u9ff-92231b6431febb6873e3af96d3a2ff96 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-47u9ff-92231b6431febb6873e3af96d3a2ff96 .av-subheading{
font-size:15px;
}

.flex_column.av-78b0ez-146fda8d6c5099551253f1faac332f26{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jt4b2aqy-5f1830003ff129bc9bfece952671cf38 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-jt4b2aqy-5f1830003ff129bc9bfece952671cf38 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jt4b2aqy-5f1830003ff129bc9bfece952671cf38 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-2zsedn-44502d25d571220d054d4557edf69684{
padding-bottom:10px;
color:#35383c;
}
body .av-special-heading.av-2zsedn-44502d25d571220d054d4557edf69684 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2zsedn-44502d25d571220d054d4557edf69684 .special-heading-inner-border{
border-color:#35383c;
}
.av-special-heading.av-2zsedn-44502d25d571220d054d4557edf69684 .av-subheading{
font-size:15px;
}

.flex_column.av-6fk7bv-b865442d40bf70c0619aab8d05987612{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-b865442d40bf70c0619aab8d05987612{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-b865442d40bf70c0619aab8d05987612{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-b865442d40bf70c0619aab8d05987612{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-jvcbk6fd-645c33276468834c7ae0de055cbb5b34{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jvcbk6fd-645c33276468834c7ae0de055cbb5b34 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jvcbk6fd-645c33276468834c7ae0de055cbb5b34 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jvcbk6fd-645c33276468834c7ae0de055cbb5b34 .av-subheading{
font-size:15px;
}

.flex_column.av-3ru4or-26982c64648e1492490bdd78d7600c9f{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-jvcbkdp5-b15944136c1dee1103fe32840c44f53c{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jvcbkdp5-b15944136c1dee1103fe32840c44f53c .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jvcbkdp5-b15944136c1dee1103fe32840c44f53c .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jvcbkdp5-b15944136c1dee1103fe32840c44f53c .av-subheading{
font-size:15px;
}

.avia-section.av-jsg37u7k-09970d9258440952bd76c86630aeef86 .av-section-color-overlay{
opacity:0.5;
}

.avia-section.av-jsg37u7k-09970d9258440952bd76c86630aeef86 .av-section-color-overlay{
opacity:0.5;
}

.avia-section.av-jsg37u7k-09970d9258440952bd76c86630aeef86 .av-section-color-overlay{
opacity:0.5;
}

.avia-image-container.av-257d17-cbf58af6df5b359a0e77cb3c91ee3c8b .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-cbf58af6df5b359a0e77cb3c91ee3c8b img.avia_image{
box-shadow:none;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-6fk7bv-fa173e821d185ebc08a745608699d556{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-257d17-131726bffc111159082ea01b172519f2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-131726bffc111159082ea01b172519f2 img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-jvcbl3s1-27296d93385d527f0c9b97e3e984400e{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jvcbl3s1-27296d93385d527f0c9b97e3e984400e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jvcbl3s1-27296d93385d527f0c9b97e3e984400e .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jvcbl3s1-27296d93385d527f0c9b97e3e984400e .av-subheading{
font-size:15px;
}

.avia-image-container.av-257d17-b27b4b7faf66b658baba8bdcf0642282 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-b27b4b7faf66b658baba8bdcf0642282 img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-7c0a1be6eb36f91051483bae27d107be .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-7c0a1be6eb36f91051483bae27d107be img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-88796d995f15a1b34e8c7ee2f0c2c51c .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-88796d995f15a1b34e8c7ee2f0c2c51c img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-b64dffaa68401e015085ab765d35f50e .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-b64dffaa68401e015085ab765d35f50e img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-083fcf783f6998edb24cfaea0e09321b .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-083fcf783f6998edb24cfaea0e09321b img.avia_image{
box-shadow:none;
}

#top .av-special-heading.av-jvcblnxx-916635fdb09a0e4f47c4069920dc4a0e{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-jvcblnxx-916635fdb09a0e4f47c4069920dc4a0e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jvcblnxx-916635fdb09a0e4f47c4069920dc4a0e .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jvcblnxx-916635fdb09a0e4f47c4069920dc4a0e .av-subheading{
font-size:15px;
}

.avia-image-container.av-257d17-149f693fc5276be59f14723b3bc3166f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-149f693fc5276be59f14723b3bc3166f img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-1fca5c25c53a23e60c5d176841c14f2a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-1fca5c25c53a23e60c5d176841c14f2a img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-d1f536677f5036d75fff1b28b49cd7d7 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-d1f536677f5036d75fff1b28b49cd7d7 img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-48c87854476f4531421cb157ba049a61 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-48c87854476f4531421cb157ba049a61 img.avia_image{
box-shadow:none;
}

.avia-image-container.av-257d17-7f07d38ca592d1d3dad94c0b936fb4f4 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
.avia-image-container.av-257d17-7f07d38ca592d1d3dad94c0b936fb4f4 img.avia_image{
box-shadow:none;
}


@media only screen and (min-width: 768px) and (max-width: 989px){ 
.avia-image-container.av-257d17-9de6be6e833693c5e10eacb945813012 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-5f1830003ff129bc9bfece952671cf38 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-cbf58af6df5b359a0e77cb3c91ee3c8b .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-131726bffc111159082ea01b172519f2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-b27b4b7faf66b658baba8bdcf0642282 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-7c0a1be6eb36f91051483bae27d107be .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-88796d995f15a1b34e8c7ee2f0c2c51c .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-b64dffaa68401e015085ab765d35f50e .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-083fcf783f6998edb24cfaea0e09321b .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-149f693fc5276be59f14723b3bc3166f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-1fca5c25c53a23e60c5d176841c14f2a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-d1f536677f5036d75fff1b28b49cd7d7 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-48c87854476f4531421cb157ba049a61 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-7f07d38ca592d1d3dad94c0b936fb4f4 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
.avia-image-container.av-257d17-9de6be6e833693c5e10eacb945813012 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-5f1830003ff129bc9bfece952671cf38 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-cbf58af6df5b359a0e77cb3c91ee3c8b .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-131726bffc111159082ea01b172519f2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-b27b4b7faf66b658baba8bdcf0642282 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-7c0a1be6eb36f91051483bae27d107be .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-88796d995f15a1b34e8c7ee2f0c2c51c .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-b64dffaa68401e015085ab765d35f50e .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-083fcf783f6998edb24cfaea0e09321b .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-149f693fc5276be59f14723b3bc3166f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-1fca5c25c53a23e60c5d176841c14f2a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-d1f536677f5036d75fff1b28b49cd7d7 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-48c87854476f4531421cb157ba049a61 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-7f07d38ca592d1d3dad94c0b936fb4f4 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}

@media only screen and (max-width: 479px){ 
.avia-image-container.av-257d17-9de6be6e833693c5e10eacb945813012 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-jt4b2aqy-5f1830003ff129bc9bfece952671cf38 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-cbf58af6df5b359a0e77cb3c91ee3c8b .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-131726bffc111159082ea01b172519f2 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-b27b4b7faf66b658baba8bdcf0642282 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-7c0a1be6eb36f91051483bae27d107be .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-88796d995f15a1b34e8c7ee2f0c2c51c .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-b64dffaa68401e015085ab765d35f50e .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-083fcf783f6998edb24cfaea0e09321b .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-149f693fc5276be59f14723b3bc3166f .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-1fca5c25c53a23e60c5d176841c14f2a .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-d1f536677f5036d75fff1b28b49cd7d7 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-48c87854476f4531421cb157ba049a61 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}

.avia-image-container.av-257d17-7f07d38ca592d1d3dad94c0b936fb4f4 .avia-image-container-inner{
transform:scale3d( 1, 1, 1 ) skew( 0, 0 ) translate3d( 0, 0, 0 );
}
}
