.avia-section.av-ob09pr-544a580863603a845cbb1bac12ae4503{
background-repeat:no-repeat;
background-image:url(../images/Solvis.jpg);
background-position:50% 0%;
background-attachment:scroll;
}
.avia-section.av-ob09pr-544a580863603a845cbb1bac12ae4503 .av-section-color-overlay{
opacity:0.6;
}

#top .hr.hr-invisible.av-o3gatj-9cf7086808de15e4f0094b5b651fbcc9{
height:30px;
}

#top .av-special-heading.av-jv6lz72m-cc30242c6c02d3cb721a1cc75177d82b{
padding-bottom:0px;
color:#f1cb00;
font-size:60px;
}
body .av-special-heading.av-jv6lz72m-cc30242c6c02d3cb721a1cc75177d82b .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-jv6lz72m-cc30242c6c02d3cb721a1cc75177d82b .av-special-heading-tag{
font-size:60px;
}
.av-special-heading.av-jv6lz72m-cc30242c6c02d3cb721a1cc75177d82b .special-heading-inner-border{
border-color:#f1cb00;
}
.av-special-heading.av-jv6lz72m-cc30242c6c02d3cb721a1cc75177d82b .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-4xbdwk-8217eece3e558a679ecf741ad8c8bc93{
padding-bottom:0px;
color:#ffffff;
font-size:40px;
}
body .av-special-heading.av-4xbdwk-8217eece3e558a679ecf741ad8c8bc93 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-4xbdwk-8217eece3e558a679ecf741ad8c8bc93 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-4xbdwk-8217eece3e558a679ecf741ad8c8bc93 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-4xbdwk-8217eece3e558a679ecf741ad8c8bc93 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-2vg4vo-c1ee0e379ff19819a43358f9d0245b8b{
padding-bottom:0px;
color:#ffffff;
font-size:40px;
}
body .av-special-heading.av-2vg4vo-c1ee0e379ff19819a43358f9d0245b8b .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2vg4vo-c1ee0e379ff19819a43358f9d0245b8b .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-2vg4vo-c1ee0e379ff19819a43358f9d0245b8b .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-2vg4vo-c1ee0e379ff19819a43358f9d0245b8b .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-no5xjr-eeb1edc06c61b50ac9c306d21abfdde0{
height:50px;
}

.flex_column.av-azuyxg-b7479079e71178932f59212f87591bad{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-2szm5g-58ae52b6eae0443c9c56dfb30bcb04b4{
padding-bottom:10px;
font-size:40px;
}
body .av-special-heading.av-2szm5g-58ae52b6eae0443c9c56dfb30bcb04b4 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2szm5g-58ae52b6eae0443c9c56dfb30bcb04b4 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-2szm5g-58ae52b6eae0443c9c56dfb30bcb04b4 .av-subheading{
font-size:15px;
}

#top .hr.av-no5xjr-7-147ee71f8eb0f84050db26e515493e29{
margin-top:-2%;
}
.hr.av-no5xjr-7-147ee71f8eb0f84050db26e515493e29 .hr-inner{
width:100px;
border-color:#f1cb00;
}

.flex_column.av-8zp8es-36ff8ed6c89c87ce399afed06a6a43e8{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.avia-section.av-jsg37u7k-1b59c0471c6f7b0be2daf509481d394f{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsg37u7k-1b59c0471c6f7b0be2daf509481d394f .av-section-color-overlay{
opacity:0.5;
background-color:#1f1e21;
}

.flex_column.av-72uvqc-5de0df603f685349777d013db3842c93{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .avia-animated-number.av-jsg2n5aq-f90643c22bd13b5c38b47abbdf455fa3 .avia-animated-number-title{
color:#f2e38e;
}
#top .avia-animated-number.av-jsg2n5aq-f90643c22bd13b5c38b47abbdf455fa3 .avia-animated-number-content{
color:#f2e38e;
}

.flex_column.av-6k5fwk-34e9daab9c45e5c540f419f2fd5d5f7a{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .avia-animated-number.av-jsg2n5aq-5-367e89f4074c7131ef4f0f0ff74af69a .avia-animated-number-title{
color:#f2e38e;
}
#top .avia-animated-number.av-jsg2n5aq-5-367e89f4074c7131ef4f0f0ff74af69a .avia-animated-number-content{
color:#f2e38e;
}

.flex_column.av-3rb96c-497df3b1d2b34dc553fd163808460287{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .avia-animated-number.av-jsg2n5aq-4-a2569355975e4f59e3da21c93753a5f4 .avia-animated-number-title{
color:#f2e38e;
}
#top .avia-animated-number.av-jsg2n5aq-4-a2569355975e4f59e3da21c93753a5f4 .avia-animated-number-content{
color:#f2e38e;
}

.flex_column.av-2inj38-f759ea968dfdd500e0ef8ba5ae2749cc{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .avia-animated-number.av-jsg2n5aq-3-cff578fed748eb9f02f46aba20199087 .avia-animated-number-title{
color:#f2e38e;
}

.avia-section.av-jsonbr8x-4c2027353cf0e3fd6a45e4309db38838{
background-color:#35383c;
background-image:unset;
}
.avia-section.av-jsonbr8x-4c2027353cf0e3fd6a45e4309db38838 .av-section-color-overlay{
opacity:0.5;
}

.av-hotspot-image-container .av-image-hotspot.av-aaz9k4-7ecfb569fed0bc040c494b1535ee9bcc{
top:90.8%;
left:47.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-aaz9k4-7ecfb569fed0bc040c494b1535ee9bcc .av-image-hotspot_inner{
background-color:#ffffff;
color:#35383c;
}
.av-hotspot-image-container .av-image-hotspot.av-aaz9k4-7ecfb569fed0bc040c494b1535ee9bcc .av-image-hotspot-pulse{
background-color:#ffffff;
}

.av-hotspot-image-container .av-image-hotspot.av-8kigro-6ef231c63a6915d1191f9298a1d1b003{
top:78.9%;
left:47.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-8kigro-6ef231c63a6915d1191f9298a1d1b003 .av-image-hotspot_inner{
background-color:#ffffff;
color:#35383c;
}
.av-hotspot-image-container .av-image-hotspot.av-8kigro-6ef231c63a6915d1191f9298a1d1b003 .av-image-hotspot-pulse{
background-color:#ffffff;
}

.av-hotspot-image-container .av-image-hotspot.av-7qhsg4-2cad37c0265119d5ec09302efa78ad7d{
top:64.5%;
left:47.5%;
}
.av-hotspot-image-container .av-image-hotspot.av-7qhsg4-2cad37c0265119d5ec09302efa78ad7d .av-image-hotspot_inner{
background-color:#ffffff;
color:#35383c;
}
.av-hotspot-image-container .av-image-hotspot.av-7qhsg4-2cad37c0265119d5ec09302efa78ad7d .av-image-hotspot-pulse{
background-color:#ffffff;
}

.av-hotspot-image-container .av-image-hotspot.av-595wuc-8153b9d4636111cb9f59559e8cd8fe87{
top:52.1%;
left:47.5%;
}
.av-hotspot-image-container .av-image-hotspot.av-595wuc-8153b9d4636111cb9f59559e8cd8fe87 .av-image-hotspot_inner{
background-color:#ffffff;
color:#35383c;
}
.av-hotspot-image-container .av-image-hotspot.av-595wuc-8153b9d4636111cb9f59559e8cd8fe87 .av-image-hotspot-pulse{
background-color:#ffffff;
}

.av-hotspot-image-container .av-image-hotspot.av-4iymic-5ec1017ceead3d4d56573005d27994c5{
top:39.4%;
left:47.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-4iymic-5ec1017ceead3d4d56573005d27994c5 .av-image-hotspot_inner{
background-color:#ffffff;
color:#35383c;
}
.av-hotspot-image-container .av-image-hotspot.av-4iymic-5ec1017ceead3d4d56573005d27994c5 .av-image-hotspot-pulse{
background-color:#ffffff;
}

.av-hotspot-image-container .av-image-hotspot.av-804w4-ee6eb59d31953f2ebbc4d676cd28300f{
top:25.1%;
left:47.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-804w4-ee6eb59d31953f2ebbc4d676cd28300f .av-image-hotspot_inner{
background-color:#ffffff;
color:#35383c;
}
.av-hotspot-image-container .av-image-hotspot.av-804w4-ee6eb59d31953f2ebbc4d676cd28300f .av-image-hotspot-pulse{
background-color:#ffffff;
}

.av-hotspot-image-container .av-image-hotspot.av-1z9vck-070d298534a28b18c7d2fe8ef2e272d3{
top:11.5%;
left:47.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-1z9vck-070d298534a28b18c7d2fe8ef2e272d3 .av-image-hotspot_inner{
background-color:#ffffff;
color:#35383c;
}
.av-hotspot-image-container .av-image-hotspot.av-1z9vck-070d298534a28b18c7d2fe8ef2e272d3 .av-image-hotspot-pulse{
background-color:#ffffff;
}

.flex_column.av-au7zy-76a12ee6cb85f7a40c55e167c572cc30{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-jv6lmgjj-f818151925321d9843da20f2fd8a2185{
padding-bottom:0px;
color:#0a0a0a;
font-size:40px;
}
body .av-special-heading.av-jv6lmgjj-f818151925321d9843da20f2fd8a2185 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-jv6lmgjj-f818151925321d9843da20f2fd8a2185 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-jv6lmgjj-f818151925321d9843da20f2fd8a2185 .special-heading-inner-border{
border-color:#0a0a0a;
}
.av-special-heading.av-jv6lmgjj-f818151925321d9843da20f2fd8a2185 .av-subheading{
font-size:15px;
}

#top .hr.av-vm2n26-4dd96d262d069a2c836ac3b0ddb9d9ee{
margin-top:-1%;
margin-bottom:-1%;
}
.hr.av-vm2n26-4dd96d262d069a2c836ac3b0ddb9d9ee .hr-inner{
width:100px;
border-color:#f1cb00;
}

.avia-section.av-1i8bo0-092007b7dc9c878537f26856f8b790d4{
background-repeat:no-repeat;
background-image:url(../images/SOLVIS_052017_49_photocopyright-by-GODAR.jpg);
background-position:50% 50%;
background-attachment:fixed;
}
.avia-section.av-1i8bo0-092007b7dc9c878537f26856f8b790d4 .av-section-color-overlay{
opacity:0.9;
background-color:#35383c;
}

#top .av-special-heading.av-jv6lnmkf-d34f846ce7470c171aceba5e281804ed{
padding-bottom:20px;
color:#ffffff;
font-size:30px;
}
body .av-special-heading.av-jv6lnmkf-d34f846ce7470c171aceba5e281804ed .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-jv6lnmkf-d34f846ce7470c171aceba5e281804ed .av-special-heading-tag{
font-size:30px;
}
.av-special-heading.av-jv6lnmkf-d34f846ce7470c171aceba5e281804ed .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jv6lnmkf-d34f846ce7470c171aceba5e281804ed .av-subheading{
font-size:15px;
}

.flex_column.av-14zphk-6533a24c4dec214f0277f6294301fbce{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-14zphk-2-49b7a40ad95b2e3577ddb6fb600bfdf8{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

.flex_column.av-14zphk-1-afdf3156c2d9a8368c35710d9e07ff8b{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
}

